 .table-responsive-ad {

    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    -webkit-overflow-scrolling: touch;
	overflow:hidden;
  }
   .table-responsive-ad2 {
    
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #e5eaee;
    -webkit-overflow-scrolling: touch;
	overflow:hidden;
	padding: 3px;
  }
  .table-responsive-ad > .table {
    margin-bottom: 0;
  }
  .table-responsive-ad:first-child > .table:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.table:first-child > thead:first-child > tr:first-child td:first-child,
.table-responsive-ad:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.table:first-child > tbody:first-child > tr:first-child td:first-child,
.table-responsive-ad:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.table:first-child > thead:first-child > tr:first-child th:first-child,
.table-responsive-ad:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.table:first-child > tbody:first-child > tr:first-child th:first-child,
.table-responsive-ad:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.table:first-child > thead:first-child > tr:first-child td:last-child,
.table-responsive-ad:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.table:first-child > tbody:first-child > tr:first-child td:last-child,
.table-responsive-ad:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.table:first-child > thead:first-child > tr:first-child th:last-child,
.table-responsive-ad:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.table:first-child > tbody:first-child > tr:first-child th:last-child,
.table-responsive-ad:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.table:last-child,
.table-responsive-ad:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.table:last-child > tbody:last-child > tr:last-child td:first-child,
.table-responsive-ad:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.table:last-child > tfoot:last-child > tr:last-child td:first-child,
.table-responsive-ad:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.table:last-child > tbody:last-child > tr:last-child th:first-child,
.table-responsive-ad:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.table:last-child > tfoot:last-child > tr:last-child th:first-child,
.table-responsive-ad:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.table:last-child > tbody:last-child > tr:last-child td:last-child,
.table-responsive-ad:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.table:last-child > tfoot:last-child > tr:last-child td:last-child,
.table-responsive-ad:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.table:last-child > tbody:last-child > tr:last-child th:last-child,
.table-responsive-ad:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.table:last-child > tfoot:last-child > tr:last-child th:last-child,
.table-responsive-ad:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.pl30 {
  padding-left: 30px !important;
  font-size: 15px;
  font-weight: 400;
}
.pl30 a {
  color: #29a8dd;
  text-decoration: underline;
}
.blk {
	font-weight: 800;
}
.tbl-head {
	font-weight: 800;
	font-size: 18px;
}
.label-update {
  background-color: #f5393d;
  margin: 0;
  padding: 6px 12px 5px;
  margin-left: 10px;
  height: 100%;
  font-weight: 600;
  color: #fff;
}
.tbl-red {
  color: #fe567c;
  font-weight: 600 !important;
}
.tbl-green {
  color: #53e97d;
  font-weight: 600 !important;
}

.messages-heading {
  background-color: transparent;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: auto;
  line-height: 24px;
  padding: 0;
}
.messages-title {
  font: 700 20px/24px 'Lato';
  letter-spacing: 0;
  padding: 0;
}
.messages-body {
  margin-top: 15px;
}

.br-t {
  border-top: 1px solid #eeeeee !important;
}
.pr a{
  padding-right: 18px;
  color: #2a2f43;
  font: 700 14px/30px 'Open Sans';
  padding-top: 18px;
  padding-bottom: 18px;
  text-transform: uppercase;
}

.normaltxt {
  color: #2a2f43;
  font: 400 12px/30px 'Open Sans';
  text-transform: none;
}

.date-time {
  color: #2a2f43;
  font: 400 10px/30px 'Open Sans';
  line-height: 10px;
}

.prof-pic {
  width: 32px;
  height: 32px;
  background: url('../images/preview-profile/user-img.jpg') no-repeat top left;
  background-size: contain;
  margin-right: 5px !important;
  vertical-align: bottom !important;
  display: inline-block;
  vertical-align: middle;
}

/*
|----------------------------------------------------------------------------
| USER
|----------------------------------------------------------------------------
*/
#user {
  padding-top: 100px;
  margin-bottom: 10px;
  text-align: center;
  width: 387px;
  height: 456px;
  float: right;
}
#user .container-user .intro {
  background: #fff;
  padding: 40px 40px 80px 30px;
}
#user .profile-pic {
  width: 150px;
  height: 150px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-top: -100px;
}
#user .profile-pic img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  vertical-align: middle;
  margin-top: -70px;
}
#user .intro-content {
  text-align: center;
  margin: 0 auto;
  float: none;
}
#user .intro-content h2 {
  font-weight: bold;
  margin: 0px;
  font-size: 35px;
  line-height: 52px;
  opacity: 0.7;
}
#user .intro-content span {
  font-size: 18px;
  line-height: 34px;
  color: #8a8a8b;
  margin-bottom: 25px;
}
#user .intro-content p {
  font-size: 15px;
  line-height: 27px;
  opacity: 0.7;
  padding: 0 90px;
  margin-bottom: 40px;
}
#user .intro-content .btn {
  border-color: inherit;
  text-transform: uppercase;
  margin: 10px;
  padding: 5px 30px;
  color: #38de8a;
}

#user .intro-content .btn-success {
  background-color: #38de8a;
  border-color: inherit;
  color: #fff;
}
/*
|----------------------------------------------------------------------------
| CHAT
|----------------------------------------------------------------------------
*/
#chat {
	margin: 15px;
  -webkit-box-shadow: 1px 2px 0 #e5eaee;
  box-shadow: 1px 2px 0 #e5eaee;
  padding: 25px;
  border-width: 1px #e5eaee;
}

#chat .reply .form-control {

width: 85%;
}
#chat .media-list {
margin-bottom:0;
  height: 350px;
  overflow-y: scroll;
}
#chat .media-list .media {
margin:0;
}
.card {
box-shadow:0 2px 3px rgba(0,0,0,.05);
}
.card-block-half {
padding:.625rem;
}
.text-muted {
color:#818a91;
}
.pull-xs-right {
float:right !important;
}
.m-b-0 {
margin-bottom:0 !important;
}
#chat  .btn {
  border-color: inherit;
  text-transform: uppercase;
  margin: 10px;
  padding: 5px 30px;
  color: #38de8a;
}
#chat   .btn a {
  color: #fff;
}
#chat  .btn-info {
  background-color: #38de8a;
  border-color: inherit;
}
.dash-icon, .user-presence-icon, [class*=" dash-icon-"], [class^=dash-icon-] {
    font-family: dash-icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.project-files-buttons .save-project-button button, .success-page-btn a.btn-project {
    background-color: #38de8a;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}