::-webkit-scrollbar {  
    width: 5px;  
}  

::-webkit-scrollbar-track {  
    background-color: #dadada;  
    border-left: 1px solid #cecece;  
}  

::-webkit-scrollbar-thumb {  
    background-color: #a9a9a9;  
}  

::-webkit-scrollbar-thumb:hover {  
    background-color: #909090;  
}  

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-border-radius: 10px;
 	-moz-border-radius: 10px;
    box-shadow: none;
    border: 0; 
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
 	-moz-border-radius: 10px;
    box-shadow: none;
    border: 0; 
}
