.slider .slider-body .irs {
  height: 45px;
}
.slider .slider-body .irs-line {
  height: 10px;
  top: 24px;
}
.slider .slider-body .irs-line-left,
.slider .slider-body .irs-line-mid,
.slider .slider-body .irs-line-right {
  height: 10px;
}
.slider .slider-body .irs-from, .slider .slider-body .irs-to, .slider .slider-body .irs-single {
  color: #616161;
  font-size: 14px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: transparent;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
}
.slider .slider-body .irs-diapason {
  height: 10px;
  top: 25px;
  background-position: 0 -40px;
}
.slider .slider-body .irs-slider {
  width: 20px;
  height: 21px;
  top: 19px;
  background-position: 0 -50px !important;
}
/* for checkbox*/
.ez-checkbox-green {
  background: transparent url('../images/p-a/checkbox-gray.png') -16px 0px no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
}
.ez-checked-green {
  background-position: 0 0px;
}
.ez-hide {
  opacity: 0;
  filter: alpha(opacity=0);
  margin-left: 3px !important;
}
.checkbox label {
  color: #6e6e6e;
  font-size: 18px;
  font-weight: 300;
  padding-left: 4px;
  vertical-align: text-top;
}
.search-project .filter-label {
    padding: 8px 0 0 0;
    font-size: 18px;
}
.search-project .slider-label {
    padding: 18px 0 0 0;
    font-size: 18px;
}

@media (max-width: 992px) {
    .checkbox label { font-size: 16px;}
    
}
@media (max-width: 992px) and (min-width: 768px) {
    .checkbox label {
      font-size: 15px;
      padding-left: 0px;
    }
}