.video-slider p .popover {
  max-width: 420px;
  width: 100%;
}
.video-slider p .popover input {
  width: 70%;
}
.video-slider p .popover button:nth-of-type(1) {
    margin: 0 5px 0 10px;
}
.video-item {
    margin-top: 50px;
}
a.left.carousel-control, a.right.carousel-control {
    margin-top: 50px;
}
.video-description-right .description-right-up > h4 .popover-content label {
    font-size: 17px !important;
}
#music-genre-main,
.video-description-right .description-right-up > h4.video-dur .popover-content select {
    margin-right: 0px !important;
}
.video-project-director .container > h3 .popover-content input, 
.video-pop-input .popover-content input, 
.project-deadline .popover-content input, 
.single-video-description .popover-content input {
    width: 290px !important;
}