* {
	font-family: 'Open Sans';
}
.no-padding {
	padding: 0;
}
.preview-profile-wrapper {
    background-color: #d1eeff;
    padding-bottom: 20px;
}
.profile-top-img img {
    width: 100%;
}
.scroll-pane {
	outline: none;
}
.user-profile-left {
    padding: 20px 15px;
}
.user-profile-left {
    padding: 20px 15px;
}
.user-profile-left-picture button {
    position: absolute;
    bottom: 5px;
    right: 0;
    border: 0;
    background: none;
}
.user-profile-left-details h3 span {
    font-size: 36px;
    color: #0d5496;
    font-weight: 700;
}
.user-profile-left-details h3 span {
	float: left;
}
.user-profile-left-details h3 .verified-icon {
    float: left;
    margin-left: 30px;
    color: white;
    text-transform: uppercase;
    background-color: #48e875;
    padding: 7px 5px 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
}
.verified-icon i {
    color: #4c8c29;
    font-size: 20px;
    margin-right: 5px;
    float: left;
    margin-top: -3px;
}
.user-profile-left-details h4 {
    color: #222222;
    font-size: 26px;
    margin-top: 15px;
}
.user-profile-left-details h4 span {
    font-weight: 500;
}
.user-profile-left-details p {
    margin-top: 30px;
    font-size: 18px;
    color: #222222;
    line-height: 26px;
}
button.hire-me {
    background-color: #0285c2;
    border: solid 2px #0285c2;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 25px;
    font-size: 18px;
    margin-bottom: 10px;
    -webkit-transition: all 300ms ease-in-out;
  	-moz-transition: all 300ms ease-in-out;
  	-o-transition: all 300ms ease-in-out;
  	transition: all 300ms ease-in-out;
}
button.hire-me:hover {
	background-color: transparent;
	color: #0285c2;
}
.hire-me-section h3 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
}
.hire-me-section h3 span {
    font-weight: 400;
    font-size: 20px;
}
.hire-me-section h4 {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
h5.user-star-rating {
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
h5.user-star-reviews {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.user-exp-lang {
    font-size: 16px;
    color: #222222;
}
.user-exp-lang-marg {
	margin-bottom: 4px;
}
.hire-me-section {
    position: relative;
}
.user-experience h3,.user-education h3,.user-certifications h3,.user-publication h3,.user-portfolio h3 {
    margin-top: 15px;
    color: #0d5496;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.user-portfolio h3 {
	padding-left: 15px;
}
.user-portfolio {
	padding-left: 0;
}
.user-experience-single h5,.user-education-single h5,.user-publication-single h5 {
    color: #222222;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.user-experience-single p,.user-publication-single p {
    font-size: 17px;
    color: #606060;
}
span.user-experience-duration {
    font-style: italic;
}
.user-experience-single p span,.user-education-single span {
    display: block;
    margin-bottom: 10px;
}
.user-experience-single,.user-publication-single {
    margin-bottom: 20px;
}
.user-experience,.user-education,.user-certifications,.user-publication,.user-portfolio,.user-ratings {
	border-top: dashed 1px #4f4f4f;
}
.user-education-single {
	margin-bottom: 20px;
}
.cert-name h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.cert-name span {
    display: block;
    font-style: italic;
    font-size: 17px;
    color: #606060;
}
.user-certifications-single {
	padding: 0 10px;
    margin-bottom: 20px;
}
.user-certifications-single .col-sm-4 {
	text-align: center;
	height: 100%;
}
.user-certifications-single .col-sm-4 img {
  	position: absolute;
  	margin: auto;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	max-height: 100%;
}
.cert-name {
    height: 135px;
    border: solid 1px #cacaca;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
}
.user-certifications-single .col-sm-8 {
    padding: 0 10px;
}
.user-certifications h3 {
	padding-left: 10px;
}
.user-certifications {
	padding: 0 5px;
}
.user-portfolio .col-sm-3 {
	margin-bottom: 20px;
    padding-right: 0;
}
.port-img-wrapper {
	overflow: hidden;
}
.user-portfolio .col-sm-3 img {
    max-width: 1000px;
}
.preview-profile-wrapper > .container {
	background-color: white;
  	box-shadow: 0px 0px 10px #595959;
  	overflow: hidden;
}
footer {
	background-color: #959595;
}
.desktop-buttons {
    position: absolute;
    right: 0;
  	top: 5px;
}
.desktop-devices {
    margin: auto;
    height: 41px;
  	width: 120px;
}
.desktop-buttons button {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    border: solid 1px white;
    background: none;
    width: 100px;
    height: 30px;
    -webkit-transition: all 300ms ease-in-out;
  	-moz-transition: all 300ms ease-in-out;
  	-o-transition: all 300ms ease-in-out;
  	transition: all 300ms ease-in-out;
}
.desktop-buttons button:hover {
	background-color: white;
	color: #4f4f4f;
}
.top-menu {
	background-color: #4f4f4f;
  	z-index: 9999;
  	position: relative;
  	height: 41px;
}
.desktop-devices button {
    background: none;
    border: 0;
    height: 100%;
}
.desktop-devices button.active {
    background-color: #4fc2f3;
}
.user-ratings h2 {
    font-size: 28px;
    color: #0d5496;
    font-weight: 700;
    margin: 0px 0 30px;
    text-transform: uppercase;
}
.user-ratings ul li div {
    font-size: 16px;
    color: #222222;
}
.user-ratings ul li > div  {
	position: relative;
}
.rating {
    float: right;
    width: 130px;
}
.user-ratings ul li {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.rating-color {
    width: 100px;
    height: 20px;
    background-color: #d7d7d7;
    border-radius: 5px;
    float: left;
    position: relative;
}
.rating span {
    margin-left: 5px;
    float: left;
}
.rating-universal {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #24a5db;
	border-radius: 5px;
}
.rating-7 {
	width: 70%;
}
.rating-8 {
	width: 80%;
}
.user-ratings {
	padding-bottom: 40px;
	padding-top: 20px;
}
.user-ratings h5 {
    font-size: 16px;
    color: #222222;
    font-weight: 700;
}
.user-ratings h5 span {
    font-size: 16px;    
    color: #222222;    
    font-weight: 700;
    float: right;
    padding-right: 40px;
}
.user-single-review h5 {
    margin: 5px 0;
    font-size: 16px;
    color: #222222;
    font-weight: 700;
}
.user-single-review h5 span {
    float: right;
    color: #7f7f7f;
    font-weight: 400;
    padding: 0;
    padding-right: 5px;
}
.user-single-review p {
    font-size: 16px;
    color: #7f7f7f;
    font-style: italic;
}
.user-single-review {
    margin-bottom: 10px;
}
.user-ratings .col-sm-4 {
    height: 340px;
}
.user-ratings > div:nth-of-type(3) {
    overflow: hidden;	
}
.user-reviews {
    height: 275px;
    overflow: hidden;
    overflow-y: scroll;
}
.user-ratings > div:not(:last-child):after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: #c6c6c6;
}
.user-ratings .jspVerticalBar {
    background: transparent;
    width: 7px;
}
.user-ratings .jspDrag {
    background-color: #797979;
}
.user-profile-left-picture img {
    width: 100%;
}
.user-profile-left ul li:not(:first-child) {
	width: 25%;
	display: inline-block;
}
.user-profile-left ul li:nth-of-type(2),.user-profile-left ul li:nth-of-type(4),.user-profile-left ul li:nth-of-type(6) {
    width: 50%;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}
.user-profile-left ul li:nth-of-type(1) {
	width: 25%;
	float: left;
}
.user-profile-left ul {
	position: relative;
}
.user-profile-left ul:after {
  	content: "";
  	position: absolute;
  	width: 1px;
  	top: 0px;
  	background-color: #c6c6c6;
  	height: 250px;
  	left: 73%;
}
.user-profile-left-picture {
	float: left;
}
.user-profile-left > .col-sm-9 {
	padding-right: 0;
	position: relative;
}
.desktop-buttons-640 {
	display: none;
	float: right;
	margin: 5px 20px 5px 0;
}
.desktop-buttons-640 button {
    background: none;
    border: 0;
    height: 30px;
    float: left;
}
.desktop-buttons-640 button img {
	height: 100%;
}
.page-background ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: center;
}
.page-background ul li {
    display: inline;
}
.page-background {
    background-color: white;
    padding: 10px 10px 0px;
}
.bg-size {
	text-align: left;
}
.page-background h1 {
    color: #474747;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
}
.page-background h1:not(:first-child) {
	border-top: 1px solid gray;
	padding-top: 10px;
	margin-top: 10px;
}
.page-background h1:first-child,.page-background h1:nth-of-type(2),.page-background h1:nth-of-type(3) {
	margin-bottom: 10px;
}
.edit-container {
    width: 85px;
  	background-color: #4f4f4f;
  	height: 100%;
  	float: left;
  	left: 0px;
  	position: absolute;
  	padding-right: 11px;
    z-index: 999;
  	-webkit-transition: all 300ms ease-in-out;
  	-moz-transition: all 300ms ease-in-out;
  	-o-transition: all 300ms ease-in-out;
  	transition: all 300ms ease-in-out;
}
.full-container {
  z-index: 99;
  position: relative;
}
.edit-container-right {
    display: none;
}
h1.page-bg {
    background-color: #24a5db;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 7px 0px;
    text-align: center;
    text-transform: uppercase;
}
.page-background ul li img {
  outline: 1px solid black;
}
.bg-color h1 {
    width: 100px;
    float: left;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.bg-color {
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 10px;
}
.bg-color h1 {
    width: 100px;
    float: left;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.bg-color {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
}
.upload-image button:first-child {
    background-color: #ff7c99;
    color: white;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
}
.upload-image button:last-child {
    width: 100%;
    text-transform: uppercase;
    color: white;
    box-shadow: none;
  	white-space: inherit;
  	font-size: 14px;
  	font-weight: 700;
  	border-radius: 8px;
}
button.btn.save-btn {
    background-color: #24a5db;
    border: solid 2px #24a5db;
    color: white;
    border-bottom: 0;
    text-transform: uppercase;
    margin-top: 20px;
    box-shadow: none;
  	width: 100px;
  	border-radius: 0;
  	border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
  	font-size: 18px;
  	font-weight: 700;
  	-webkit-transition: all 300ms ease-in-out;
  	-moz-transition: all 300ms ease-in-out;
  	-o-transition: all 300ms ease-in-out;
  	transition: all 300ms ease-in-out;
}
button.btn.save-btn:hover  {
	background-color: transparent;
	color: #24a5db;
}
.bg-color > img {
    float: right;
}
.edit-container-left {
    width: 85px;
    float: left;
    height: 100%;
    position: relative;
  	background-color: #d1eeff;
  	padding-left: 20px;
  	padding-top: 55px;
}
.edit-container-right {
    float: right;
    width: 200px;
    position: relative;
    padding-left: 11px;
    text-align: center;
    margin-bottom: 20px;
}
.design-btn {
    width: 95%;
    margin-left: -11px;
}
.design-btn button {
    background-color: white!important;
    border-radius: 0;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 18px;
    color: #4f4f4f!importantr;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans'!important;
    margin: 20px 0;
    box-shadow: none;
    cursor: inherit;
  	padding: 6px 0;
}
.design-btn > span {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: white;
}
.bg-size label input {
    margin-right: 5px;
}
.bg-size label {
    font-size: 14px;
    color: #474747;
    text-transform: uppercase;
}
.some-arrow {
    margin-top: 20px;
}
.some-arrow img {
    cursor: pointer;
}
.edit-container-left button {
    width: 48px;
    height: 44px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 1px #9e9e9e;
    background-color: #555555;
    text-align: center;
    padding: 0;
    -webkit-transition: all 300ms ease-in-out;
  	-moz-transition: all 300ms ease-in-out;
  	-o-transition: all 300ms ease-in-out;
  	transition: all 300ms ease-in-out;
}
.edit-container-left button.active,.edit-container-left button:hover {
    background-color: #24a5db;   
}
.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #4f4f4f; 
  	position: absolute;
	left: 75px;
  	top: 130px;
    display: none;
  	-webkit-transition: all 150ms ease-in-out;
  	-moz-transition: all 150ms ease-in-out;
  	-o-transition: all 150ms ease-in-out;
  	transition: all 150ms ease-in-out;
}
.template-name {
    position: absolute;
    left: 5px;
    height: 100%;
    padding-top: 10px;
}
.template-name label {
    color: white;
    font-size: 16px;
}
.template-name input {
    color: white;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    margin-left: 5px;
    outline: none;
}
.template-name input::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
.template-name input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity: 1;
}
.template-name input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity: 1;
}
.template-name input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: white;
}
.desktop-buttons .cloud-button {
    border: 0;
    width: auto;
    float: left;
}
.desktop-buttons .cloud-button:hover {
	background-color: transparent;
}
.edit-content-right-template {
    float: right;    
    width: 200px;    
    position: relative;    
    padding-left: 11px;    
    text-align: center;    
    display: none;
}
.template-name-single > div	{
    height: 135px;
    width: 100%;
    overflow: hidden;
    border: solid 1px white;
    margin-bottom: 5px;
    cursor: pointer;
}
.template-name-single > div.active {
	border-color: #4fc2f3;
}
.template-name-single > div img {
    width: 100%;
}
.template-name-single h5 {
	color: white;
	margin-bottom: 20px;
}
.preview-profile-wrapper .popover-content input {
    height: 35px;
    background-color: #f5f3f5;
    border: 0;
    margin-bottom: 10px;
    padding: 10px;
    color: #a1a1a1;
    font-size: 18px;
    outline: none;
    width: 100%;
}
.preview-profile-wrapper .popover-content textarea {
	height: 70px;
	background-color: #f5f3f5;
    border: 0;
    margin-bottom: 10px;
    padding: 10px;
    color: #a1a1a1;
    font-size: 18px;
    outline: none;
    width: 100%;
}
.edit-experience-pop .popover {
    max-width: 400px;
}
.edit-education-pop .popover {
    max-width: 400px;
}
.edit-education-pop .popover input {
    width: 100%;
}
.edit-education-pop .popover input:nth-of-type(1n+3) {
	width: 49%;
}
.edit-education-pop .popover input:nth-of-type(3) {
	margin-right: 2%;
}
.edit-experience-pop .popover input {
    width: 100%;
}
.edit-hour-pop .popover-content input:first-child,.rating .popover-content input:first-child {
    width: 70%;
}
.edit-hour-pop .popover-content input:nth-of-type(2),.rating .popover-content input:nth-of-type(2) {
    width: 25%;
    float: right;
}
.rating .popover {
    width: 270px;
}
.preview-profile-wrapper .popover-content select {
	border: 0;
	height: 35px;
	background-color: #f5f3f5;
	outline: none;
  	width: 150px;
  	margin-bottom: 10px;
}
.placeholder-buttons {
    text-align: right;
}
.placeholder-buttons button {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
    -webkit-transition: all 300ms ease-in-out;
  	-moz-transition: all 300ms ease-in-out;
  	-o-transition: all 300ms ease-in-out;
  	transition: all 300ms ease-in-out;
}
.placeholder-buttons button:first-child {
	background-color: #24a5db;
	border-color: #24a5db;
	margin-right: 5px;
}
.placeholder-buttons button:first-child:hover {
	color: #24a5db;
	background: transparent;
}
.placeholder-buttons button:last-child {
	background-color: #838383;
	border-color: #838383;
}
.placeholder-buttons button:last-child:hover {
	background-color: transparent;
	color: #838383;
}
.cer-pop-img {
    text-align: center;
    margin-bottom: 10px;
}
.cer-pop-img button {
    background-color: #ff7c99;
    border: solid 2px #ff7c99;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    width: 100px;
    line-height: 15px;
    padding: 5px 0;
}
.port-edit-buttons {
    position: absolute;
    height: 35px;
    width: 75px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
  	background-color: rgba(255,255,255,0.8);
  	padding-top: 6px;
  	border: solid 1px #ff7c99;
}
.port-edit-buttons img {
	margin: 0;
}
.edit-together {
	margin: 0 0 0 5px;
}
.absolute-left {
    position: absolute;
    left: -55px;
}
.cert-name img:nth-of-type(2) {
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.cert-name img:nth-of-type(1) {
    position: absolute;
    right: 45px;
    bottom: 10px;
}
.profile-top-img > button {
  position: absolute;
  top: 10px;
  right: 5px;
  border: 0;
  background: none;
}
.templati-tablet {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #bcbcbc;
    z-index: 999;
    padding-top: 15px;
    display: none;
}
.templati-header {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.templati-title {
    width: 190px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    height: 30px;
    color: #4f4f4f;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 6px;
    padding-left: 15px;
    float: left;
}
.close-templati {
    float: right;
    margin-right: 5px;
    height: 26px;
    width: 26px;
    text-align: center;
    background-color: #24a5db;
    border-radius: 100%;
    cursor: pointer;
}
.close-templati i {
    line-height: 24px;
    color: white;
}
.templati-body {
    position: relative;
    float: left;
    width: 100%;
}
.templati-body .temp-pic-wrap {
    height: 150px;
    overflow: hidden;
    border: solid 1px white;
    cursor: pointer;
}
.templati-body .col-xs-4.active .temp-pic-wrap {
	border-color: #4fc2f3;
}
.templati-body .temp-pic-wrap img {
    height: auto;
    width: 100%;
}
.templati-body h5 {
    color: white;
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
}
.designers-body .edit-container-right {
    width: 100%;
    padding: 0;
    float: left;
    margin: 0;
}
.designers-body .page-background > ul li {
    width: 20%;
    float: left;
    padding: 2px;
}
.designers-body .page-background > ul li img {
    width: 100%;
}
.designers-body .bg-color h1 {
    width: auto;
}
.designers-body .upload-image button:first-child {
    width: 49%;
    margin-right: 2%;
    float: left;
    padding: 6px 5px;
}
.designers-body .upload-image button:last-child {
    width: 49%;
    float: left;
    padding: 6px 5px;
}
.designers-body .bg-size label:nth-of-type(2) {
    margin-left: 20px;
}
.designers-separator {
    border-top: 1px solid gray;
  	margin-bottom: 54px;
  	margin-top: 10px;
}
.designers-body .bg-color > img {
  float: none;
}
.port-popover-buttons button:nth-of-type(1) {
    background-color: #a3a3a3;
    border: solid 2px #a3a3a3;
    border-radius: 5px;
    white-space: nowrap;
    margin-bottom: 5px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.port-popover-buttons button:nth-of-type(1):hover {
    background-color: transparent;
    color: #a3a3a3;
}
.port-popover-buttons button:nth-of-type(2) {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ff7c99;
    border: solid 2px #ff7c99;
    border-radius: 5px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.port-popover-buttons button:nth-of-type(2):hover {
    background-color: transparent;
    color: #ff7c99;
}
.port-img-wrap {
    height: 130px;
    width: 160px;
    margin: auto;
    background-color: #d2d2d2;
}
.port-img-wrap h5 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 130px;
}
.port-img {
    margin-bottom: 10px;
}
.buy-a-domain {
    position: absolute;
    width: 320px;
    top: 15px;
    left: 10px;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    border-radius: 5px;
}
.buy-a-domain h5:nth-of-type(1) {
    font-size: 15px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 10px;
}
.valoso-domain {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.valoso-domain span {
    color: black;
    font-size: 15px;
    float: left;
    margin-top: 10px;
    margin-left: 3px;
}
.valoso-domain button,.not-valoso-domain button {
    background-color: #48e875;
    border-radius: 5px;
    border: solid 1px white;
    float: right;
    font-size: 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    width: 55px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.valoso-domain button:hover {
    background-color: transparent;
    color: #48e875;
    border-color: #48e875;
}
.not-valoso-domain button {
    background-color: #0285c2;
}
.not-valoso-domain button:hover {
    background-color: transparent;
    color: #0285c2;
    border-color: #0285c2;
}
.valoso-domain input,.not-valoso-domain input {
    width: 150px;
    float: left;
    border: solid 1px black;
    padding: 5px;
    color: black;
    font-size: 15px;
    outline: none;
}
.not-valoso-domain {
    padding-top: 10px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    border-top: solid 1px #b6b6b6;
}
.not-valoso-domain input {
    width: 230px;
}
.buy-a-domain h5:nth-of-type(2) a {
    font-size: 15px;
    font-weight: 700;
    color: #148bc2;
    text-decoration: none;
    cursor: pointer;
}
.buy-domain {
    margin-top: 60px;
}
.buy-domain .modal-title {
    color: #727272;
    font-size: 24px;
    font-weight: 700;
}
.buy-domain .modal-body p {
    font-size: 20px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 30px;
}
.availability-form input {
    border: solid 1px #bcbcbc;
    border-radius: 10px;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    margin-right: 10px;
    outline: none;
}
.availability-form input::-webkit-input-placeholder {
   color: black;
   font-size: 18px;
}
.availability-form input:-moz-placeholder { /* Firefox 18- */
   color: black;
   font-size: 18px;  
}
.availability-form input::-moz-placeholder {  /* Firefox 19+ */
   color: black;
   font-size: 18px;  
}
.availability-form input:-ms-input-placeholder {  
   color: black;
   font-size: 18px;  
}
.availability-form button {
    background-color: #48e875;
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border: solid 1px #d7d7d7;
    box-shadow: none;
    outline: none;
    border-radius: 10px;
}
.availability-form button:hover {
    color: white;
}
.buy-domain .modal-body ul li {
    border-top: solid 1px #c3c3c3;
    padding: 5px 0;
}
.list-name {
    color: #000000;
    font-size: 18px;
    line-height: 38px;
}
.list-buy span {
    color: #ff9211;
    font-size: 18px;
    margin-right: 20px;
}
.list-buy button {
    background-color: #474747;
    width: 75px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.list-buy button:focus,.availability-form button:focus {
    color: white;
}
.list-buy button:hover {
    background-color: #0285c2;
    color: white;
}
.buy-domain .modal-body {
    padding: 25px 5px;
}
.availability-form {
    margin-bottom: 20px;
}
.buy-domain {
    padding: 0!important;
}
.upArrow {
    z-index: 999999;
}
.already-have-domain .modal-header h4 {
    font-size: 24px;
    color: #727272;
    font-weight: 700;
}
.already-have-domain .modal-body p {
    color: #474747;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.already-have-domain .modal-body .dns-server-adress {
    font-size: 18px;
    color: #0285c2;
    font-weight: 600;
    margin-bottom: 20px;
}
.already-have-domain .modal-body .dns-intructions {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
}
.already-have-domain .modal-body ul li {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}
.already-have-domain .modal-body ul li p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: 400;
    float: left;
    width: 95%;
}
.already-have-domain .modal-body ul li span {
    float: left;
    width: 5%;
}
.already-have-domain {
    max-width: 615px;
    width: 100%;
    padding: 0!important;
    margin: auto;
    margin-top: 60px;
}
.already-have-domain .modal-dialog {
    width: 100%;
}
.already-have-domain .modal-dialog .container-fluid {
    padding: 0;
}
.already-have-domain .modal-body {
    padding-bottom: 20px;
}
/* Ipad Simulator */
	.sim-640  .rating {
		width: 110px;
	}
	.sim-640  .rating-color {
		width: 80px;
	}
	.sim-640  .user-profile-left > .col-sm-9:after {
	  	height: 235px;
  	  	left: 61%;
	}
	.sim-640  .user-profile-left ul:after {
	  	height: 235px;
	}
	.sim-640 .user-ratings .col-sm-4 {
		width: 100%;
	}
	.sim-640 .user-profile-left-details h3 span {
	  	font-size: 30px;
	}
	.sim-640 .user-profile-left-details h4 {
	  	font-size: 20px;
  	  	margin-top: 5px;
	}
	.sim-640 .user-profile-left-details p {
	  	margin-top: 10px;
	  	font-size: 14px;
	  	line-height: 22px;
	}
	.sim-640  button.hire-me {
	  	padding: 5px 20px;
  		font-size: 16px;
	  	margin-bottom: 5px;
	}
	.sim-640  .hire-me-section h3 {
	  	font-size: 26px;
	}
	.sim-640  .hire-me-section h3 span {
	  	font-size: 18px;
	}
	.sim-640  .hire-me-section h4 {
	  	font-size: 20px;
	}
	.sim-640  h5.user-star-rating {
	  	font-size: 16px;
	}
	.sim-640  h5.user-star-reviews {
		font-size: 14px;
	}
	.sim-640  .user-exp-lang {
	  	font-size: 14px;
	}
	.sim-640  h5.user-star-rating img {
	  	width: 88px;
	}
	.sim-640  .user-profile-right {
		padding-bottom: 20px;
	}
	.sim-640  h5.user-star-reviews,.sim-640  h5.user-star-rating,.sim-640  .hire-me-section h4 {
		margin-bottom: 5px;
	}
	.sim-640  .desktop-buttons button {
	  	font-size: 14px;
  	  	width: 80px;
	}
	.sim-640  .hire-me-section:after {
		bottom: 0;
	}
	.sim-640  .user-experience h3,.sim-640 .user-education h3,.sim-640 .user-certifications h3,.sim-640 .user-publication h3,.sim-640 .user-portfolio h3 {
		font-size: 24px;
	  	margin-bottom: 10px;
	}
	.sim-640  .user-experience-single h5,.sim-640  .user-education-single h5,.sim-640  .user-publication-single h5 {
		font-size: 18px;
	}
	.sim-640 .user-experience-single p,.sim-640 .user-publication-single p {
		font-size: 16px;
	}
	.sim-640 .cert-name {
	  	height: 110px;
	}
	.sim-640  .cert-name h4 {
		font-size: 14px;
	}
	.sim-640  .user-ratings h2 {
	  	font-size: 24px;
	}
	.sim-640  .user-ratings ul li div {
	  	font-size: 14px;
	}
	.sim-640  .rating {
	  	width: 65px;
	}
	.sim-640  .rating-color {
	  	width: 40px;
	}
	.sim-640  .user-single-review h5 {
	 	font-size: 14px;
	}
	.sim-640  .user-single-review h5 span {
  		font-weight: 700;
  		padding: 5px 5px 0px 10px;
  		font-size: 14px;
	}
	.sim-640  .user-single-review p {
	  	font-size: 14px;
	}
	.sim-640  .user-profile-left ul:after {
	  	height: 190px;
	}
	.sim-640 .user-profile-left-picture {
		width: 25%;
	}
	.sim-640 .user-profile-left > .col-sm-9 {
	  	width: 75%;
	  	float: left;
	}
	.sim-640 .user-certifications-single {
	    width: 33.33%;
	    float: left;
	}
	.sim-640 .cert-name .col-sm-4 {
	    width: 33.33%;
	    float: left;
	}
	.sim-640 .cert-name .col-sm-8 {
	    width: 66.66%;
	    float: left;
	}
	.sim-640 .user-portfolio .col-sm-3 {
	    width: 33.33%;
	    float: left;
	}
	.sim-640 .user-ratings ul li div {
	  	font-size: 16px;
	}
	.sim-640 .rating {
	  	width: 65%;
	}
	.sim-640 .rating-color {
	  	width: 90%;
	}
	.sim-640 .rating span {
	  	margin-left: 10px;
	}
	.sim-640 .user-ratings > div:not(:last-child) {
	  	border-bottom: dashed 1px #4f4f4f;
	}
	.sim-640 .user-ratings > div:not(:last-child):after {
		display: none;
	}
	.sim-640 .user-ratings h5 span {
	  	padding-right: 20px;
	}
	.sim-640 .user-ratings {
		padding-top: 0;
	}
	.sim-640 .user-ratings h2 {
		margin-top: 20px;
	}
	.sim-640 .user-ratings .col-sm-4 {
		height: auto;
		padding-bottom: 20px;
	}
	.sim-640 .user-reviews {
  		height: 210px;
  	}
  	.sim-640 .user-single-review h5 span {
	  	padding: 0 10px 0 0;
	}
	.sim-640 .user-profile-left ul li:nth-of-type(2),.sim-640 .user-profile-left ul li:nth-of-type(4)  {
		width: 50%;
	}
	.sim-640 .user-profile-left > .col-sm-9:after {
		display: none;
	}
	.sim-640 .user-profile-left ul li:not(:first-child) {
		float: left;
		width: 55%;
	}
	.sim-640 .user-profile-left ul li:nth-of-type(3) {
		width: 20%;
	}
	.sim-640 .user-profile-left ul:after {
		display: none;
	}
	.sim-640 .user-experience h3,.sim-640 .user-education h3,.sim-640 .user-certifications h3,.sim-640 .user-publication h3,.sim-640 .user-portfolio h3 {
	  	font-size: 26px;
	  	margin-bottom: 20px;
	}
	.sim-640 .user-experience-single h5,.sim-640 .user-education-single h5,.sim-640 .user-publication-single h5 {
	  	font-size: 20px;
	}
	.sim-640 .user-experience-single p,.sim-640 .user-publication-single p {
	  	font-size: 17px;
	}
	.sim-640 .user-certifications-single {
	  	width: 50%;
	}
	.sim-640 .cert-name .col-sm-8 {
		padding-right: 0;
	}
	.sim-640 .cert-name h4 {
	  	font-size: 16px;
	}
	.sim-640 .cert-name span {
	  	font-size: 15px;
	}
	.sim-640 .cert-name {
	  	padding: 5px 0px 5px 5px;
	}
	.sim-640 .cert-name {
	  	height: 120px;
	}
	.sim-640 .cert-name h4:nth-of-type(1) {
	  	margin-top: 20px;
	}
	.sim-640 .user-portfolio .col-sm-3 img {
	  	height: 185px;
	}
	.sim-640 .user-ratings h5 span {
	  	padding-right: 15px;
	}
	.sim-640 .user-single-review h5 {
	  	font-size: 16px;
	}
	.sim-640 .user-single-review p,.sim-640 .user-single-review h5 span {
	  	font-size: 16px;
	}
	.sim-640 .user-reviews {
	  	height: 280px;
	  	width: 100%!important;
	}
	.sim-640 .user-ratings .jspContainer,.sim-640 .user-ratings .jspPane {
		width: 100%!important;
	}
	.sim-640 .preview-profile-wrapper > .container {
		box-shadow: none;
	  	margin-bottom: 0px;
	}
	.sim-640 .hire-me-section h3 {
	  	font-size: 24px;
	}
	.sim-640 .hire-me-section h4 {
	  	font-size: 18px;
	}
	.sim-640 .user-profile-left ul li:nth-of-type(2),.sim-640 .user-profile-left ul li:nth-of-type(4),.sim-640 .user-profile-left ul li:nth-of-type(5),.sim-640 .user-profile-left ul li:nth-of-type(6),.sim-640 .user-profile-left ul li:nth-of-type(7),.sim-640 .user-profile-left ul li:nth-of-type(8) {
		padding: 0 15px;
	}
	.sim-640 .user-profile-left ul li:nth-of-type(9),.sim-640 .user-profile-left ul li:nth-of-type(10),.sim-640 .user-profile-left ul li:nth-of-type(11) {
		width: 100%;
	}
	.sim-640 h5.user-star-reviews, h5.user-star-rating,.sim-640 .hire-me-section h4 {
	  	margin-bottom: 0px;
	}
	.sim-640 .user-profile-left-details h3 div {
	  	position: absolute;
	  	right: 0;
	  	top: 35px;	
  	  	width: 20%;
  		text-align: center;
	  	padding: 7px 5px;
	}
	.sim-640 button.hire-me {
		float: right;
		width: 100%;
		padding: 5px 0;
	}
	.sim-640 .verified-icon i {
		float: none;
  		font-size: 17px;
	}
	.sim-640 .user-profile-left-details p {
	  	line-height: 20px;
	}
	.sim-640 .user-profile-left ul li:nth-of-type(10) {
		margin-top: 10px;
	}
	.sim-640 .preview-profile-wrapper > .container {
		box-shadow: none;
	  	margin-bottom: 0px;
	}
	.ipad-simulator {
		display: none;
	}
	.sim-640 .ipad-simulator {
	    position: absolute;
	    margin-top: 60px;
	    width: 100%;
	    text-align: center;
	}
	.sim-640 .preview-profile-wrapper > .container {
	    width: 640px;
	    margin-top: 115px;
	    height: 855px;
	    overflow: hidden;
	    margin-bottom: 120px;
	    overflow-y: scroll;
	}
/* Ipad Simulator End */

/* Phone Simulator */
	.phone-simulator {
	    position: absolute;
	    width: 100%;
	    text-align: center;
	    display: none;
	    margin-top: 60px;
	}
	.sim-320 .preview-profile-wrapper > .container {
		width: 320px;
		margin-top: 106px;
		height: 570px;
		overflow-y: scroll;
		margin-bottom: 150px;
	  	padding-bottom: 0px;
	  	box-shadow: none;
	}
	.sim-320 .cert-name h4 {
	  	font-size: 14px;
	}
	.sim-320 .user-profile-left-details h3 .verified-icon {
	  	float: left;
	  	margin-left: 10px;
	  	color: white;
	  	text-transform: uppercase;
	  	background-color: #48e875;
	  	padding: 7px 0px 5px;
	  	border-radius: 5px;
	  	font-size: 12px;
	  	font-weight: 700;
	  	margin-top: 2px;
	  	width: 75px;
	}
	.sim-320 .verified-icon i {
	  	float: none;
	  	font-size: 15px;
	  	margin-right: 1px;
	}
	.sim-320 .cert-name span {
	  	font-size: 13px;
	}
	.sim-320 .cert-name .col-sm-8 {
	  	padding-left: 5px;
	}
	.sim-320 .user-reviews {
	  	height: 280px;
	}
	.sim-320 .rating {
	  	width: 55%;
	}
	.sim-320 .rating-color {
	  	width: 83%;
	}
	.sim-320 .user-profile-left ul li:nth-of-type(2),.sim-320 .user-profile-left ul li:nth-of-type(3),.sim-320 .user-profile-left ul li:nth-of-type(4) {
		width: 75%;
		padding: 0 15px;
	}
	.sim-320 .user-profile-left ul li:nth-of-type(2) {
		margin-bottom: 5px;
	}
	.sim-320 .user-profile-left ul li:nth-of-type(3) {
		margin-bottom: 10px;
	}
	.sim-320 .user-profile-left ul li:nth-of-type(4) {
		margin-bottom: 10px;
	}
	.sim-320 .user-profile-left ul li:nth-of-type(5),.sim-320 .user-profile-left ul li:nth-of-type(6),.sim-320 .user-profile-left ul li:nth-of-type(7),.sim-320 .user-profile-left ul li:nth-of-type(8) {
		width: 50%;
		padding: 0;
		height: 25px;
	}
	.user-profile-left-details p {
	  	margin-top: -0px;
	}
	.sim-320 .user-profile-left ul li:nth-of-type(6),.sim-320 .user-profile-left ul li:nth-of-type(8) {
		text-align: right;
	}
	.sim-320 .hire-me-section h4 {
	  	font-size: 16px;
	}
	.sim-320 .user-profile-left-details h3 span {
	  	font-size: 28px;
	}
	.sim-320 .user-profile-left-details h4 {
	  	font-size: 16px;
	}
	.sim-320 .user-profile-left-details h3 div {
	    float: right;
	    position: relative;
	    top: -5px;
	    width: 100px;
	}
	.sim-320 .user-profile-left-details p,.sim-320 .user-exp-lang {
	  	font-size: 16px;
	}
	.sim-320 .edit-hour-pop img {
	    position: absolute;
	    right: -5px;
	    top: 5px;
	}
	.sim-320 .template-name {
		display: none;
	}
	.sim-320 .port-edit-buttons img {
	    height: auto!important;
	}
	.sim-320 h5.user-star-reviews {
	  	font-size: 16px;
	}
	.sim-320 .user-certifications-single {
	  	width: 100%;
	}
	.sim-320 .user-profile-left-details h3 .verified-icon {
	  	margin-left: 5px;
	}
	.sim-320 .user-experience h3,.sim-320 .user-education h3,.sim-320 .user-certifications h3,.sim-320 .user-publication h3,.sim-320 .user-portfolio h3 {
	  	font-size: 22px;
	}
	.sim-320 .user-experience-single h5,.sim-320 .user-education-single h5,.sim-320 .user-publication-single h5 {
	  	font-size: 18px;
	  	margin-bottom: 0;
	}
	.sim-320 .user-experience-single p,.sim-320 .user-publication-single p,.sim-320 .cert-name h4,.sim-320 .cert-name span {
	  	font-size: 16px;
	}
	.sim-320 .user-experience-single p span,.sim-320 .user-education-single span {
		margin-bottom: 0;
	}
	.sim-320 .cert-name {
	  	height: 130px;
	}
	.sim-320 .user-portfolio .col-sm-3 {
        width: 288px;
	}
	.sim-320 .user-portfolio .col-sm-3 img {
	  	height: 295px;
	}
	.sim-320 .user-ratings ul li div {
	  	font-size: 14px;
	}
	.sim-320 .user-ratings h2 {
	  	font-size: 22px;
  	  	margin: 15px 0 20px;
	}
	.sim-320 .user-ratings h5,.sim-320 .user-ratings h5 span {
	  	font-size: 14px;
	}
	.sim-320 .rating {
	  	width: 45%;
	}
	.sim-320 .rating-color {
	  	width: 77%;
	}
	.sim-320 .user-ratings h5 span {
	  	padding-right: 10px;
	}
	.sim-320 .user-ratings .col-sm-4 {
	  	padding-bottom: 15px;
	  	width: 100%;
	}
	.sim-320 .user-ratings h5,.sim-320 .user-ratings h5 span {
	  	font-size: 16px;
	}
	.sim-320 .user-reviews {
	  	height: 370px;
	}
	.sim-320 .user-reviews {
	  	height: 280px;
	  	width: 100%!important;
	}
	.sim-320 .user-ratings > div:nth-of-type(3) {
	  	padding-right: 5px;
	}
	.sim-320 .user-ratings .jspContainer,.sim-320 .user-ratings .jspPane {
		width: 100%!important;
	}
	.sim-320 .user-ratings {
	  	padding-bottom: 20px;
	}
	.sim-320 .user-profile-left-details h3 span {
	  	font-size: 22px;
	}
	.sim-320 .user-ratings > div:not(:last-child):after {
		display: none;
	}
	.sim-320 .designers-body .col-xs-6 {
	    width: 100%;
	    margin-bottom: 10px;
	}
	.sim-320 .user-profile-left-details h3 div {
	  	float: right;
	  	position: relative;
	  	top: 0;
	  	width: 90px;
	  	margin: 0;
	}
	.sim-320 .templati-body .col-xs-4 {
	    width: 50%;
	}
	.sim-320 .templati-body .temp-pic-wrap {
	    height: 115px;
	}
	.sim-320 .user-profile-left ul li:nth-of-type(1) {
		width: 30%;
	}
	.sim-320 .user-profile-left ul li:nth-of-type(2),.sim-320 .user-profile-left ul li:nth-of-type(3),.sim-320 .user-profile-left ul li:nth-of-type(4) {
		width: 70%;
	}
	.sim-320 .user-profile-left ul li:nth-of-type(2),.sim-320 .user-profile-left ul li:nth-of-type(3) {
		padding-right: 0;
	}
	.sim-320 .user-profile-left-details h4 {
	  	font-size: 14px;
	}
	.sim-320 button.hire-me {
	  	padding: 3px 0;
	}
	.sim-320 .user-profile-left-picture button img {
	    width: 30px;
	}
	.sim-320 .rating {
	  	width: 40%;
	}
	.sim-320 .rating-color {
	  	width: 71%;
	}
	.sim-320 .user-profile-left-details h3 span {
	  	font-size: 20px;
	}
	.sim-320 .user-profile-left-details h3 div {
	  	font-size: 12px;	
  	  	width: 78px;
	}
	.sim-320 .verified-icon i {
	  	font-size: 16px;
	  	margin-right: 2px;
	}
	.sim-320 h5.user-star-rating img {
	  	width: 80px;
	  	margin-left: 5px;
	}
	.sim-320 .hire-me-section h3 {
	  	font-size: 20px;
	}
	.sim-320 .hire-me-section h3 span {
	  	font-size: 16px;
	}
	.sim-320 .user-profile-left-details h4 {
	  	margin-top: 0px;
	}
	.sim-320 button.hire-me {
		font-size: 14px;
	  	padding: 5px 0;
	}
	.sim-320 .user-profile-left ul li:nth-of-type(3) {
	  	margin-bottom: 5px;
	}
	.sim-320 .user-profile-left ul li:nth-of-type(2),.sim-320 .user-profile-left ul li:nth-of-type(3),.sim-320 .user-profile-left ul li:nth-of-type(4) {
		padding-left: 5px;
	}
/* Phone Simulator End */
@media(max-width: 1024px) {
	.rating {
		width: 110px;
	}
	.rating-color {
		width: 80px;
	}
	.user-profile-left > .col-sm-9:after {
	  	height: 235px;
  	  	left: 61%;
	}
	.user-profile-left ul:after {
	  	height: 235px;
	}
}/* 1024px End */
@media(max-width: 991px) {
	.user-profile-left-details h3 span {
	  	font-size: 30px;
	}
	.user-profile-left-details h4 {
	  	font-size: 20px;
  	  	margin-top: 5px;
	}
	.user-profile-left-details p {
	  	margin-top: 10px;
	  	font-size: 14px;
	  	line-height: 22px;
	}
	button.hire-me {
	  	padding: 5px 20px;
  		font-size: 16px;
	  	margin-bottom: 5px;
	}
	.hire-me-section h3 {
	  	font-size: 26px;
	}
	.hire-me-section h3 span {
	  	font-size: 18px;
	}
	.hire-me-section h4 {
	  	font-size: 20px;
	}
	h5.user-star-rating {
	  	font-size: 16px;
	}
	h5.user-star-reviews {
		font-size: 14px;
	}
	.user-exp-lang {
	  	font-size: 14px;
	}
	h5.user-star-rating img {
	  	width: 88px;
	}
	.user-profile-right {
		padding-bottom: 20px;
	}
	h5.user-star-reviews,h5.user-star-rating,.hire-me-section h4 {
		margin-bottom: 5px;
	}
	.desktop-buttons button {
	  	font-size: 14px;
  	  	width: 80px;
	}
	.hire-me-section:after {
		bottom: 0;
	}
	.user-experience h3, .user-education h3, .user-certifications h3, .user-publication h3, .user-portfolio h3 {
		font-size: 24px;
	  	margin-bottom: 10px;
	}
	.user-experience-single h5, .user-education-single h5, .user-publication-single h5 {
		font-size: 18px;
	}
	.user-experience-single p, .user-publication-single p {
		font-size: 16px;
	}
	.cert-name {
	  	height: 110px;
	}
	.cert-name h4 {
		font-size: 14px;
	}
	.user-ratings h2 {
	  	font-size: 24px;
	}
	.user-ratings ul li div {
	  	font-size: 14px;
	}
	.rating {
	  	width: 65px;
	}
	.rating-color {
	  	width: 40px;
	}
	.user-single-review h5 {
	 	font-size: 14px;
	}
	.user-single-review h5 span {
  		font-weight: 700;
  		padding: 5px 5px 0px 10px;
  		font-size: 14px;
	}
	.user-single-review p {
	  	font-size: 14px;
	}
	.user-profile-left ul:after {
	  	height: 190px;
	}
	.edit-together {
		width: 15px;
	}
	.together-trash {
	  	width: 14px;
	}
	.port-edit-buttons {
	  	padding-top: 8px;
	}
	.cert-name img:nth-of-type(1) {
		right: 40px;
	}
	.edit-together {
	  margin: 0 0 0 1px;
	}
	.absolute-left {
	  position: absolute;
	  left: -40px;
	}
}/* 991px End */
@media(max-width: 768px) {
	.user-profile-left > .col-sm-9:after {
	  	height: 190px;
	}
}/* 768px End */
@media(max-width: 767px) {
	.user-profile-left-picture {
		width: 25%;
	}
	.user-profile-left > .col-sm-9 {
	  	width: 75%;
	  	float: left;
	}
	.user-certifications-single {
	    width: 33.33%;
	    float: left;
	}
	.cert-name .col-sm-4 {
	    width: 33.33%;
	    float: left;
	}
	.cert-name .col-sm-8 {
	    width: 66.66%;
	    float: left;
	}
	.user-portfolio .col-sm-3 {
	    width: 33.33%;
	    float: left;
	}
	.user-ratings ul li div {
	  	font-size: 16px;
	}
	.rating {
	  	width: 65%;
	}
	.rating-color {
	  	width: 90%;
	}
	.rating span {
	  	margin-left: 10px;
	}
	.user-ratings > div:not(:last-child) {
	  	border-bottom: dashed 1px #4f4f4f;
	}
	.user-ratings > div:not(:last-child):after {
		display: none;
	}
	.user-ratings h5 span {
	  	padding-right: 20px;
	}
	.user-ratings {
		padding-top: 0;
	}
	.user-ratings h2 {
		margin-top: 20px;
	}
	.user-ratings .col-sm-4 {
		height: auto;
		padding-bottom: 20px;
	}
	.user-reviews {
  		height: 210px;
  	}
  	.user-single-review h5 span {
	  	padding: 0 10px 0 0;
	}
    footer a > img {
        width: 50%;
    }
}/* 767px End */
@media(max-width: 640px) {
    .wrapper-form-con {
        display: none;
    }
	.desktop-buttons-640,.edit-container-right {
		display: block;
	}
	.desktop-buttons,.desktop-devices {
		display: none;
	}
	.user-profile-left ul li:nth-of-type(2), .user-profile-left ul li:nth-of-type(4)  {
		width: 50%;
	}
	.user-profile-left > .col-sm-9:after {
		display: none;
	}
	.user-profile-left ul li:not(:first-child) {
		float: left;
		width: 55%;
	}
	.user-profile-left ul li:nth-of-type(3) {
		width: 20%;
	}
	.user-profile-left ul:after {
		display: none;
	}
	.user-experience h3, .user-education h3, .user-certifications h3, .user-publication h3, .user-portfolio h3 {
	  	font-size: 26px;
	  	margin-bottom: 20px;
	}
	.user-experience-single h5, .user-education-single h5, .user-publication-single h5 {
	  	font-size: 20px;
	}
	.user-experience-single p, .user-publication-single p {
	  	font-size: 17px;
	}
	.user-certifications-single {
	  	width: 50%;
	}
	.cert-name .col-sm-8 {
		padding-right: 0;
	}
	.cert-name h4 {
	  	font-size: 16px;
	}
	.cert-name span {
	  	font-size: 15px;
	}
	.cert-name {
	  	padding: 5px 0px 5px 5px;
	}
	.cert-name {
	  	height: 120px;
	}
	.cert-name h4:nth-of-type(1) {
	  	margin-top: 20px;
	}
	.user-portfolio .col-sm-3 .port-img-wrapper img {
	  	height: 185px;
	}
	.user-ratings h5 span {
	  	padding-right: 15px;
	}
	.user-single-review h5 {
	  	font-size: 16px;
	}
	.user-single-review p,.user-single-review h5 span {
	  	font-size: 16px;
	}
	.user-reviews {
	  	height: 280px;
	}
	.preview-profile-wrapper > .container {
		box-shadow: none;
	  	margin-bottom: 0px;
	}
	.hire-me-section h3 {
	  	font-size: 24px;
	}
	.hire-me-section h4 {
	  	font-size: 18px;
	}
	.user-profile-left ul li:nth-of-type(2),.user-profile-left ul li:nth-of-type(4),.user-profile-left ul li:nth-of-type(5),.user-profile-left ul li:nth-of-type(6),.user-profile-left ul li:nth-of-type(7),.user-profile-left ul li:nth-of-type(8) {
		padding: 0 15px;
	}
	.user-profile-left ul li:nth-of-type(9),.user-profile-left ul li:nth-of-type(10),.user-profile-left ul li:nth-of-type(11) {
		width: 100%;
	}
	h5.user-star-reviews, h5.user-star-rating, .hire-me-section h4 {
	  	margin-bottom: 0px;
	}
	.user-profile-left-details h3 div {
	  	position: absolute;
	  	right: 0;
	  	top: 35px;	
  	  	width: 20%;
  		text-align: center;
	  	padding: 7px 5px;
	}
	button.hire-me {
		float: right;
		width: 100%;
		padding: 5px 0;
	}
	.verified-icon i {
		float: none;
  		font-size: 17px;
	}
	.user-profile-left-details p {
	  	line-height: 20px;
	}
	.user-profile-left ul li:nth-of-type(10) {
		margin-top: 10px;
	}
	.template-name label,.template-name input {
	  	font-size: 14px;
	}
}/* 640px End */
@media all and (max-width: 480px) {
	.cert-name h4 {
	  	font-size: 14px;
	}
	.cert-name span {
	  	font-size: 13px;
	}
	.cert-name .col-sm-8 {
	  	padding-left: 5px;
	}
	.rating {
	  	width: 55%;
	}
	.rating-color {
	  	width: 83%;
	}
	.user-profile-left ul li:nth-of-type(2),.user-profile-left ul li:nth-of-type(3),.user-profile-left ul li:nth-of-type(4) {
		width: 75%;
		padding: 0 15px;
	}
	.user-profile-left ul li:nth-of-type(2) {
		margin-bottom: 5px;
	}
	.user-profile-left ul li:nth-of-type(3) {
		margin-bottom: 10px;
	}
	.user-profile-left ul li:nth-of-type(4) {
		margin-bottom: 10px;
	}
	.user-profile-left ul li:nth-of-type(5),.user-profile-left ul li:nth-of-type(6),.user-profile-left ul li:nth-of-type(7),.user-profile-left ul li:nth-of-type(8) {
		width: 50%;
		padding: 0;
		height: 25px;
	}
	.user-profile-left-details p {
	  	margin-top: -0px;
	}
	.user-profile-left ul li:nth-of-type(6),.user-profile-left ul li:nth-of-type(8) {
		text-align: right;
	}
	.hire-me-section h4 {
	  	font-size: 16px;
	}
	.user-profile-left-details h3 span {
	  	font-size: 28px;
	}
	.user-profile-left-details h4 {
	  	font-size: 16px;
	}
	.user-profile-left-details h3 div {
	    float: right;
	    position: relative;
	    top: -5px;
	    width: 100px;
	}
	.user-profile-left-details p,.user-exp-lang {
	  	font-size: 16px;
	}
	h5.user-star-reviews {
	  	font-size: 16px;
	}
	.template-name {
		display: none;
	}
	.templati-body .col-xs-4 {
	    width: 50%;
	}
	.templati-body .temp-pic-wrap {
	    height: 115px;
	}
	.designers-body .col-xs-6 {
	    width: 100%;
	    margin-bottom: 10px;
	}
    .buy-a-domain h5:nth-of-type(1),.buy-a-domain h5:nth-of-type(2) a,.valoso-domain button, .not-valoso-domain button,.valoso-domain input, .not-valoso-domain input,.valoso-domain span {
        font-size: 12px;
    }
    .buy-a-domain h5:nth-of-type(1),.valoso-domain,.not-valoso-domain {
        margin-bottom: 5px;
    }
    .not-valoso-domain {
        padding-top: 5px;
    }
    .buy-a-domain {
        left: 5px;
        top: 5px;
        width: 270px;
    }
    .valoso-domain input {
        width: 120px;
        padding: 3px;
    }
    .not-valoso-domain input {
        width: 185px;
        padding: 3px;
    }
    .valoso-domain span {
        margin-top: 8px;
    }
    .valoso-domain button, .not-valoso-domain button {
        padding: 3px;
    }
    .buy-domain .modal-title {
        font-size: 20px;
    }
    .buy-domain .modal-body p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .availability-form button {
        width: 100%;
        margin-top: 10px;
    }
    .availability-form input {
        width: 100%;
    }
    .list-buy {
        float: left!important;
        width: 100%;
    }
    .list-buy button {
        position: absolute;
    }
    .buy-domain .modal-body ul li {
        position: relative;
    }
    .list-buy button {
        position: absolute;
        top: 6px;
        right: 0px;
    }
    .list-name {
        line-height: 20px;
    }
    .user-portfolio .col-sm-3 .port-img-wrapper img {
        height: auto;
        width: 100%;
    }
    .port-img-wrapper {
        height: 185px;
    }
    .already-have-domain .modal-header h4 {
        font-size: 20px;
    }
    .already-have-domain .modal-body p {
        font-size: 16px;  
    }
    .already-have-domain .modal-body .dns-server-adress,.already-have-domain .modal-body .dns-intructions {
        font-size: 14px;
    }
    .already-have-domain .modal-body ul li p {
        font-size: 14px;
        margin-bottom: 0px;
        width: 90%;
    }
    .already-have-domain .modal-body ul li span {
        width: 10%;
        font-size: 14px;
    }
}/* 480px End */
@media all and (max-width: 360px) {
	.user-certifications-single {
	  	width: 100%;
	}
	.user-experience h3, .user-education h3, .user-certifications h3, .user-publication h3, .user-portfolio h3 {
	  	font-size: 22px;
	}
	.user-experience-single h5, .user-education-single h5, .user-publication-single h5 {
	  	font-size: 18px;
	  	margin-bottom: 0;
	}
	.user-experience-single p, .user-publication-single p,.cert-name h4,.cert-name span {
	  	font-size: 16px;
	}
	.user-experience-single p span, .user-education-single span {
		margin-bottom: 0;
	}
	.cert-name {
	  	height: 130px;
	}
	.user-portfolio .col-sm-3 {
		width: 100%;
	}
	.user-portfolio .col-sm-3 img {
	  	height: 295px;
	}
	.user-ratings ul li div {
	  	font-size: 14px;
	}
	.user-ratings h2 {
	  	font-size: 22px;
  	  	margin: 15px 0 20px;
	}
	.user-ratings h5,.user-ratings h5 span {
	  	font-size: 14px;
	}
	.rating {
	  	width: 45%;
	}
	.rating-color {
	  	width: 77%;
	}
	.user-ratings h5 span {
	  	padding-right: 10px;
	}
	.user-ratings .col-sm-4 {
	  padding-bottom: 15px;
	}
	.user-ratings h5, .user-ratings h5 span {
	  	font-size: 16px;
	}
	.user-reviews {
	  	height: 340px;
	}
	.user-ratings {
	  	padding-bottom: 20px;
	}
	.user-profile-left-details h3 span {
	  	font-size: 22px;
	}
	.user-profile-left-details h3 div {
	  	float: right;
	  	position: relative;
	  	top: 0;
	  	width: 90px;
	  	margin: 0;
	}
	.user-profile-left ul li:nth-of-type(1) {
		width: 30%;
	}
	.user-profile-left ul li:nth-of-type(2),.user-profile-left ul li:nth-of-type(3),.user-profile-left ul li:nth-of-type(4) {
		width: 70%;
	}
	.user-profile-left ul li:nth-of-type(2),.user-profile-left ul li:nth-of-type(3) {
		padding-right: 0;
	}
	.user-profile-left-details h4 {
	  	font-size: 14px;
	}
	button.hire-me {
	  	padding: 3px 0;
	}
	.user-profile-left-picture button img {
	    width: 30px;
	}
	.user-profile-left-details h3 .verified-icon {
	  	float: left;
	  	margin-left: 10px;
	  	color: white;
	  	text-transform: uppercase;
	  	background-color: #48e875;
	  	padding: 7px 0px 5px;
	  	border-radius: 5px;
	  	font-size: 12px;
	  	font-weight: 700;
	  	margin-top: 2px;
	  	width: 75px;
	}
	.verified-icon i {
	  	float: none;
	  	font-size: 15px;
	  	margin-right: 1px;
	}
	.edit-hour-pop img {
	    position: absolute;
	    right: -5px;
	    top: 5px;
	}
	.port-edit-buttons img {
	    height: auto!important;
	}
    .profile-top-img > img {
        width: auto;
        height: 250px;
        max-width: 1000px;
    }
}/* 360px End */
@media all and (max-width: 320px) {
	.rating {
	  	width: 40%;
	}
	.rating-color {
	  	width: 71%;
	}
	.user-profile-left-details h3 span {
	  	font-size: 20px;
	}
	.user-profile-left-details h3 div {
	  	font-size: 12px;	
  	  	width: 78px;
	}
	.verified-icon i {
	  	font-size: 16px;
	  	margin-right: 2px;
	}
	h5.user-star-rating img {
	  	width: 80px;
	  	margin-left: 5px;
	}
	.hire-me-section h3 {
	  	font-size: 20px;
	}
	.hire-me-section h3 span {
	  	font-size: 16px;
	}
	.user-profile-left-details h4 {
	  	margin-top: 0px;
	}
	button.hire-me {
		font-size: 14px;
	  	padding: 5px 0;
	}
	.user-profile-left ul li:nth-of-type(3) {
	  	margin-bottom: 5px;
	}
	.user-profile-left ul li:nth-of-type(2), .user-profile-left ul li:nth-of-type(3),.user-profile-left ul li:nth-of-type(4) {
		padding-left: 5px;
	}
	.user-profile-left-details h3 .verified-icon {
	  	margin-left: 5px;
	}
    .valoso-domain button, .not-valoso-domain button {
        width: 35px;
    }
    .buy-a-domain {
        width: 250px;
    }
    .profile-top-img > button {
        top: 5px;
        right: 0px;
    }
}/* 320px End */