
.addition .user-ratings h5.total {
    background-color: #a3a3a3;
    margin-top: 15px;
    margin-right: -15px;
}
.addition .user-ratings h5.total span {
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 10px;
}
.addition .rating-universal {
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
} 
.addition .user-ratings h5.total span.pull-left {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #ff7c99;
    width: 85%;
}
.addition .user-ratings h5.total span.pull-right {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    text-align: center;
    width: 15%;
}
.addition .rewievs {
    height: 230px;
    background-color: #eff8fd;
}
.addition  .user-ratings h2,
.addition  .skills-block h2,
.addition  .big-materials-block h2  {
    margin-bottom: 25px;
}
.user-ratings > div.no-line:after {
    width: 0px;
}
.addition .tabsuper li {
    width: 33.33333%;
    margin: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: none;
    border-right: 1px solid #fff;
    background-color: #a3a3a3;
    background: none #a3a3a3;
} 
.addition .nav.nav-tabs.tabsuper > li > a {
    color: #fff;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.addition .tabsuper {
    border: none; 
    margin-right: -8px;
}
.addition  .tabsuper .gray-pr {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    
}
.addition .tabsuper .active {
    background-color: #24a5db;
}
.addition .tabsuper > li.active > a, 
.addition .tabsuper > li.active > a:hover, 
.addition .tabsuper >li.active> a:focus {
    background-color: #24a5db;
    color: #fff !important;
    font-weight: 600;
}
.addition  .completed-block,
.addition  .progress-tab,
.addition  .bid-tab { 
    margin-top: 15px;
}
.addition .block-hidden { display: none;}
.addition .block-open { display: block !important;}
.addition a.more { font-weight: 600; }
.addition  .tabline p { font-style: normal;}
.addition  .user-single-review { position: relative;}
.addition .wrapper-feedback { 
    position: absolute; 
    top: 0;
    right: 0;
}
.addition  p.text-blue { 
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.addition p.text-blue > span {
    font-size: 14px;
    font-weight: 400;
    color: #a3a3a3;
    border-left: 1px solid #a3a3a3;
    margin-left: 10px;
    padding-left: 10px;
}
.addition .tab-content>.active {
    margin-bottom: 20px;
}
.addition .tabline .top-5{
    margin-top: 5px;
}
.addition .user-ratings .col-sm-4 {
    height: auto;
}
.addition .user-ratings {
    padding-bottom: 20px;
}
.addition .skills-block, .addition .big-materials-block {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: dashed 1px #4f4f4f;
}
.addition .user-ratings > div:not(:last-child):after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: #c6c6c6;
}
.addition .border-right-edit {
    border-right: 1px solid #ccc;
}
.addition .skills-block h2, .addition .big-materials-block h2 {
    font-size: 28px;
    color: #0d5496;
    font-weight: 700;
    margin: 0px 0 30px;
    text-transform: uppercase;
}
.addition .col-sm-6-dop {
    width: 49%;
    float: left;
    background-color: #eff8fd;
    padding-left: 15px;
}
.addition .marg-right-2 {
    margin-right: 2%;
}
.addition .wrapp-min-logo { 
    position: relative;
    margin-bottom: 20px;
    float: left;
    width: 50%;
}
.addition .min-logo { 
    height: 31px;
    width: 31px;
    background-color: #24a5db;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding-top: 7px;
    position: absolute;
    top: 3px;
    left: 0;
}
.addition .name-category {
    padding: 4px 5px; 
    background-color: #d7d7d7;
    font-size: 16px;
    color: #222222;
    margin-top: 5px;
    display: inline-block;
    margin-left: 5px;
    padding-left: 35px;
    width: 90%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.addition .backg-color {
    height: 13px;
    width: 13px;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 5px;
}
.addition .bg-color-white {
    background-color: #fff;
} 
.addition .bg-color-gray {
    background-color: #b0b0b4;
}
.addition .bg-color-red {
    background-color: #cf3535;
}
.addition .bg-color-yellow {
    background-color: #f4f64f;
}
.addition .bg-color-blue {
    background-color: #1c62ef;
}
.addition .bg-color-dyed-black {
    background-color: #1f1f1f;
}
.addition .name-materials {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #474747;
    margin-bottom: 2px;
}
.addition .materials-img { 
    float: left;
    max-width: none;
    margin-right: 10px;
}
.addition .materials-block {
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 24%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 10px;
    float: left;
}
.addition .materials-block-plastic {
    border: 1px solid #e4e4e4;
    background-color: #eff8fd;
}
.addition .materials-block-metal {
    border: 1px solid #e07b53;
    background-color: #fff0f3;
}
.addition .materials-block-other {
    border: ;
    background-color: ;
}
.addition .hover-cont { 
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 17;
    height: 100%;
}
.addition .materials-block:hover .hover-cont {
    display: block;
    cursor: pointer;
}
.addition .materials-block {
    position: relative;
 }
.addition .materials-block:hover .hover-cont {
    display: block;
}
.addition .hover-cont-bg {
    background-color: rgba(54, 86, 111, 0.77);
    height: 100%;
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
}
.addition .hover-cont-bg img { margin-right: 7px;}
.addition .text-printing {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 10px;
    float: left;
}
.addition .backg-color > .p-13 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.addition .wrapp-backg-color.media { margin-top: 0px;}
.addition .name-materials-mobile { display: none;}
.addition div.bottom-total { 
    border-top: 2px solid #e9e8e8;
    margin-top: 10px;
    margin-bottom: 10px;
}
.addition .bottom-total p { 
    padding: 8px 15px;
    background-color: #24a5db;
    float: right;
    position: relative;
    top: -2px;
}
.addition .bottom-total p:after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    bottom: 0;
    left: -26px;
	border-top: 35px solid #24a5db;
	border-left: 26px solid transparent;
}
.addition .media .p-14.italic-style { overflow: hidden; margin-top: 5px;}
.addition .user-exp-lang { letter-spacing: -1px;}
.block-min { margin-top: 30px;}
/* for edit-profile-dop.html */
ol.simple_with_drop { 
    list-style: none !important;
    list-style: none !important;
    position: relative;
    float: left;
    width: 100%;
}
ol.simple_with_drop li.backgr-fon-hover:hover, ol.simple_with_drop li.backgr-fon-hover ol li.backgr-fon-hover:hover {
    background-color: #ECF3FB;
}
.visible .addition .edit-container.wrapper-form-con, .visible .addition .edit-container-left  {
    height: 100%;
}
.wrapper-form-con.desktop-mobile-views.edit-container { 
    left: 0; 
    display: table;
    padding-right: 0;
}
.desktop-mobile-views .edit-content-right-template, .desktop-mobile-views  .edit-container-right {
    padding-right: 11px;
    float: none;
    width: 211px;
    margin-bottom: 20px;
}
.desktop-mobile-views.edit-container .some-arrow { margin-top: 70px;}
.desktop-mobile-views .edit-container-left {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding-right: 17px;
}
.desktop-mobile-views.edit-container .template-name-single > div:hover,
.desktop-mobile-views.edit-container .template-name-single > div.active {
    outline: 2px solid #4fc2f3;
    border: none;
}

.added-sim-640.sim-640 .scrollbar-big .fs-scrollbar-bar { visibility: visible;}
.added-sim-320.sim-320 .scrollbar-big .fs-scrollbar-bar { visibility: visible;}
.added-sim-640.sim-640 .scrollbar-big {
    margin-right: -65px;
    padding-right: 48px;
}
.added-sim-320.sim-320 .scrollbar-big {
    margin-right: -39px;
    padding-right: 22px;
}
.added-sim-640.sim-640 .scrollbar-big .fs-scrollbar-handle, .added-sim-640.sim-640 .scrollbar-big .fs-scrollbar-bar,
.added-sim-320.sim-320 .scrollbar-big .fs-scrollbar-handle, .added-sim-320.sim-320 .scrollbar-big .fs-scrollbar-bar { 
    width: 8px !important;
}
.added-sim-640.sim-640 .scrollbar-big .scrollbar .fs-scrollbar-handle, 
.added-sim-640.sim-640 .scrollbar-big .scrollbar .fs-scrollbar-bar,
.added-sim-320.sim-320 .scrollbar-big .scrollbar .fs-scrollbar-handle, 
.added-sim-320.sim-320 .scrollbar-big .scrollbar .fs-scrollbar-bar { 
    width: 5px !important;
}
/* Begin remove for tablet-sim and for phone-sim */
.added-sim-640.sim-640 .edit-together, .added-sim-320.sim-320 .edit-together,
.added-sim-640.sim-640 .port-edit-buttons, .added-sim-320.sim-320 .port-edit-buttons,
.added-sim-640.sim-640 .together-trash, .added-sim-320.sim-320 .together-trash {
    display: none;
}
/* END remove for tablet-sim and for phone-sim*/
.scrollbar-big .fs-scrollbar-handle {
    border-radius: 0px 0px 0 0;
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
}
.scrollbar-big .fs-scrollbar-bar {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; 
}
/*.mobile-views { display: none;}
.added-sim-640 .mobile-views, .added-sim-320 .mobile-views { display: block;}
.added-sim-640 .desktop-views, .added-sim-320 .desktop-views  { display: none;}*/

/*.added-sim-640  .desktop-views.edit-container, .added-sim-320 .desktop-views.edit-container {
    display: none;
}*/
/*.added-sim-640 .preview-profile-wrapper .edit-container,
.added-sim-320 .preview-profile-wrapper .edit-container  { 
    height: inherit;
}*/
/* Begin for colorpick*/
.page-background ul.delault-background li { 
    display: inline-block;
    cursor: pointer;
} 
.delault-background li img { opacity: 0.7;}
.delault-background li:hover img { opacity: 1;}
.delault-background li.active img { opacity: 1; outline: 1px solid red;}

#picker-1, #picker-2, #picker-3, #picker-4 {
	border-left:20px solid #ffffff;
}
.colpick { z-index: 999;}
.colpick  {height: 178px; }
/* END for colorpick*/

/* END edit-profile-dop.html */
.addition .fa-arrows-v { 
    padding: 3px 5px;
    position: absolute;
    top: 5px;
    right: 15px;
    color: #fff;
    background-color: #ccc;
    border: 1px solid #fff;
    z-index: 150;
    cursor: pointer;
}
.addition .fa-plus-circle { 
    position: absolute;
    font-size: 20px;
    top: 30px;
    right: 15px;
    color: #63CDEC;
    z-index: 150;
}
.dash-page .top-menu { z-index: 999;}
/* Begin for tablet-sim */
.added-sim-640 .col-sm-8.no-line, .added-sim-640  .col-sm-6-dop { width: 100% !important;}
.added-sim-640 .addition .skills-block, 
.added-sim-640 .addition .col-sm-8.no-line,
.added-sim-640 .addition .big-materials-block {  
    /*padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 0;
    border-top: none;*/
}
.added-sim-640 .addition .materials-block {
    width: 32%;
    margin-right: 0.6665%;
    margin-left: 0.6665%;
}
.added-sim-640 .addition .materials-block .wrapp-backg-color .p-13 { font-size: 9px !important;} 
.added-sim-640 .addition .text-printing { float: none;}
.added-sim-640  .addition .text-printing { padding-top: 0px;}
.added-sim-640.sim-640 .preview-profile-wrapper > .addition.container {
    width: 640px;
    margin-top: 170px;
    height: 852px;
}
.added-sim-640.sim-640 .ipad-simulator { margin-top: 160px;}

/* END for tablet-sim */

/* Begin for phone-sim */
.added-sim-320 .addition .tabsuper li { width: 100%;}
.added-sim-320 .col-sm-8.no-line, .added-sim-320  .col-sm-6-dop { width: 100% !important;}
.added-sim-320 .addition .user-ratings h5.total span { font-size: 12px;}
.added-sim-320 .addition .wrapper-feedback { position: static;}
.added-sim-320 .addition .tabline .top-5.rate { float: right;}
.added-sim-320  .addition .amount h5, .added-sim-320  .status h5  { font-size: 12px;}
.added-sim-320 .addition .profile-top-img > img { height: auto;}
.sim-320 .desktop-buttons button {
    font-size: 14px;
    width: 80px;
}
.added-sim-320 .addition .progress-tab a, 
.added-sim-320 .addition .progress-tab p,
.added-sim-320 .addition .bid-tab a, 
.added-sim-320 .addition .bid-tab p
 { font-size: 12px;}
.added-sim-320 .addition .tabsuper li {
    border-right: none;
    border-bottom: 1px solid #fff;
}
.added-sim-320 .addition .materials-block {
    width: 48% !important;
    margin-right: 1% !important;
    margin-left: 1% !important;
}
.added-sim-320 .preview-profile-wrapper > .addition.container {
    width: 320px;
    margin-top: 160px;
    height: 568px;
}
.added-sim-320 .addition .wrapp-min-logo { width: 100%;}
.added-sim-320 .addition .tabsuper li { width: 100%; max-width: 100%;}
.added-sim-320 .addition .nav.nav-tabs.tabsuper > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1;
    font-size: 14px;
}
.added-sim-320 .addition .user-ratings h5.total { margin-right: 0px;}
.top-menu, .top-menu {
    top: 85px;
}
.header-min-height {
    position: relative;
    left: 0;
    top: 0;
    margin-top: -41px;
    margin-bottom: 41px;
}
.phone-simulator {  margin-top: 160px;}
.added-sim-320 .addition .tabsuper { margin-right: 0px;}
.added-sim-320 .addition .big-materials-block, .added-sim-320 .addition .block-min {
    margin-left: 0px; 
    margin-right: 0px; 
}
.added-sim-320 .addition .wrapp-materials-img {
    display: table;
}
.added-sim-320 .addition .clearfix-dop {
    clear: both;
}
.added-sim-320 .addition .materials-block {
    height: 92px;
}
.added-sim-320 .addition .wrapp-backg-color {
    float: left;
    padding-top: 3px;
}
.added-sim-320 .addition .wrapp-print-img {
    position: absolute;
    right: 5px;
}
.added-sim-320 .addition .wrapp-backg-color.media .media-body {
    width: auto;
    display: block;
}
.added-sim-320 .addition .materials-img { margin-right: 3px;}
.added-sim-320 .addition .wrapp-backg-color .p-13 {
    font-size: 11px !important;
}
.added-sim-320  .addition .text-printing {
    float: none !important;
    padding-top: 4px;
    font-size: 14px;
}
.added-sim-320 .addition .hover-cont-bg {
    padding: 26px 8px;
}
.added-sim-320 .addition .bottom-total p { font-size: 12px;}
.added-sim-320  .addition .bottom-total p:after { border-top: 30px solid #24a5db;}
.added-sim-320 .addition .name-materials-desktop {
    display: none;
}
.added-sim-320 .addition .name-materials-mobile {
    display: table-cell;
}
.added-sim-320 .addition .name-materials {
    font-size: 10px;
    vertical-align: middle;
    overflow: visible;
    white-space: normal;
}
.added-sim-320 .addition .user-ratings h3, 
.added-sim-320 .addition .skills-block h3, 
.added-sim-320 .addition .big-materials-block h3 {
    font-size: 22px;
}
.added-sim-320 .addition .backg-color { margin-right: 2px;}
.added-sim-640 .addition .user-ratings .col-sm-4.no-line, 
.added-sim-320 .addition .user-ratings .col-sm-4.no-line {
    border-bottom: dashed 1px #4f4f4f;
    padding-bottom: 20px;
    padding-top: 20px;
}
.added-sim-640 .addition .col-sm-8.no-line, .added-sim-320 .addition .col-sm-8.no-line {
    padding-top: 20px;
}
.added-sim-640 .addition .user-ratings > div:not(:last-child), .added-sim-320 .addition .user-ratings > div:not(:last-child) {
    border-bottom: none;
}
.added-sim-640 .addition .border-right-edit, .added-sim-320 .addition .border-right-edit {
    border-right: none;
}
.added-sim-640 .addition .port-edit-buttons img { height: auto;} 
.header-min-height {
    z-index: 1001;
}
.added-sim-640 .addition .fs-scrollbar-content,
.added-sim-320 .addition .fs-scrollbar-content {
    margin-right: -65px;
    padding-right: 65px;
}

/* END for phone-sim */
@media (max-width: 767px) {
    .top-menu {
        top: 0;
    }
}
.nav-list.nav > li > a { margin: 0;} 
img { vertical-align: inherit !important;}

@media (max-width: 1200px) {
    .addition .tabsuper {
        margin-right: -2px;
    }
    /*.edit-container.wrapper-form-con, .edit-container-left {
        height: 398px;
    }*/
}
@media (min-width: 1480px) {
    .wrapper-form-con.desktop-mobile-views.edit-container {
        left: 1%;
    }
}
@media (min-width: 1680px) {
    .wrapper-form-con.desktop-mobile-views.edit-container {
        left: 6%;
    }
}
@media (min-width: 1900px) {
    .wrapper-form-con.desktop-mobile-views.edit-container {
        left: 10%;
    }
}
@media (max-width: 1200px) and (min-width: 1060px) { 
    .wrapper-form-con.desktop-mobile-views.edit-container {
            height: 398px;
    }
    .buy-a-domain { left: 90px;}
}
@media (max-width: 1025px) and (min-width: 1024px) { 
    .wrapper-form-con.desktop-mobile-views.edit-container {
        left: 26px;
    }
}
@media (max-width: 1059px) and (min-width: 992px) { 
    .wrapper-form-con.desktop-mobile-views.edit-container {
        height: 377px;
    }
    .buy-a-domain { left: 90px;}
}
@media (max-width: 1061px) {
    .addition .edit-container.wrapper-form-con, .addition .edit-container-left {
        height: 377px;
    }
}
@media (max-width: 769px) and (min-width: 768px) { 
    .wrapper-form-con.desktop-mobile-views.edit-container {
        left: 10px;
    }
}
@media (min-width: 768px) {
    .addition .user-ratings h3,
    .addition .skills-block h3,
    .addition .big-materials-block h3 {
        margin-top: 0;
    }
}
@media (max-width: 992px) {
    .addition .materials-block {
        width: 32%;
        margin-right: 0.6665%;
        margin-left: 0.6665%;
    }
    .addition .hover-cont-bg {
        padding: 16px 15px;
    }
    .addition .edit-container.wrapper-form-con, .addition .edit-container-left {
        height: 377px;
    }
}
@media (max-width: 992px) and (min-width: 931px) {
    .addition .edit-container.wrapper-form-con, .addition .edit-container-left {
        height: 100%;
    }
}
@media (max-width: 931px) and (min-width: 768px) {
    .addition .edit-container.wrapper-form-con, .addition .edit-container-left {
        height: 291px;
    }
}
@media (max-width: 992px) and (min-width: 768px) { 
    .addition .nav.nav-tabs.tabsuper > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 1;
        font-size: 14px;
    }
    .addition .user-ratings h5.total span.pull-left {
        width: 90%;
        padding-left: 5px;
    }
    .addition .user-ratings h5.total span.pull-right {
        width: 10%;
    }
    .addition .user-ratings h5.total span {
        padding-right: 5px;
        font-size: 12px;
    }
    .addition .user-ratings ul.work-details li {
        margin-bottom: 12px;
    }
    .addition .wrapp-min-logo { width: 100%;}
    
}
@media (max-width: 952px) and (min-width: 768px) { 
    .wrapper-form-con.desktop-mobile-views.edit-container {
        height: 291px;
    }
    .buy-a-domain { left: 90px;}
}
@media (min-width: 768px) {
    .addition .name-materials { 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}
@media (max-width: 767px) {
    .addition .tabsuper li {
        width: 100%;
    } 
    .addition .tabsuper li {
        border-right: none;
        border-bottom: 1px solid #fff;
    }
    .addition h5.user-star-reviews {
        margin-top: 0;
    }
    .addition .user-ratings h5.total {
        width: 60%; 
    }
    .addition .user-ratings h5.total span.pull-left {
        width: 80%;
    }
    .addition .user-ratings h5.total span.pull-right {
        width: 20%;
    }
    .addition .user-ratings > div:not(:last-child) {
        border-bottom: none; 
    }
    .addition .user-ratings .col-sm-4.no-line {
        border-bottom: dashed 1px #4f4f4f ;
        padding-bottom: 20px;
    }
    .addition  .skills-block,  .addition .big-materials-block  {
        margin-top: 0px;
        padding-top: 0px;
        /*border-top: none;*/
    }
    .addition .nav.nav-tabs.tabsuper > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .addition .wrapp-min-logo { width: 100%;}
    .addition .clearfix-dop { clear: both;}
    .addition .wrapp-backg-color { 
        float: left;
        padding-top: 3px;
    }
    .addition .wrapp-print-img { 
        position: absolute;
        right: 5px;
    }
    .addition .wrapp-backg-color .p-13 { font-size: 12px !important;}
    .addition .wrapp-materials-img { display: table;}
    .addition .name-materials { display: table-cell; vertical-align: middle;}
    .addition .text-printing { float: none !important; padding-top: 0;}
    .addition .hover-cont-bg {
        padding: 26px 15px;
    }
    .addition .name-materials-mobile { display: none;}
    .addition .name-materials { font-size: 11px;}
    .addition .border-right-edit {
        border-right: none;
    }
    
    .addition .templati-tablet {
        height: auto;
        padding-bottom: 15px;
    }
    .addition .edit-container.wrapper-form-con, .addition .edit-container-left {
        height: 242px;
    }
    .addition .fa-arrows-v { top: 20px; }
    .addition .fa-plus-circle { 
        position: absolute;
        font-size: 20px;
        top: 22px;
        right: 40px;
    }
    .header-min-height { 
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (max-width: 767px) and (min-width: 740px) {
    .addition .text-printing { padding-top: 10px;}
}
@media (max-width: 767px) and (min-width: 641px) {
    .buy-a-domain { left: 90px;}
    .wrapper-form-con.desktop-mobile-views.edit-container {
        height: 242px;
    }
}
@media (max-width: 640px) {
    .desktop-mobile-views.wrapper-form-con.edit-container {
        display: none;
    }
}
@media (max-width: 639px) {
    .addition .wrapp-min-logo { width: 100%;}
    .addition .marg-right-2 { margin-right: 0;}
    .addition .col-sm-6-dop { width: 100%;}
    .addition .materials-block {
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }
    .addition .hover-cont-bg {
        padding: 26px 26px;
    }
    .addition .name-materials { 
        overflow: visible;
        white-space: normal;
    }
    .addition .bottom-total p {
        font-size: 14px;
        padding: 5px 10px;
    }
    .addition .bottom-total p:after {
        left: -20px;
        border-top: 26px solid #24a5db;
        border-left: 20px solid transparent;
    }
}
@media (max-width: 639px) and (min-width: 521px) {
    .addition .text-printing { padding-top: 10px;}
}
@media (max-width: 578px) {
    .addition .user-ratings h5.total span {
        font-size: 12px;
    }
    .addition p.text-blue {
        font-size: 13px;
    }
}
@media (max-width: 480px) {
    .addition  .user-profile-left ul li:nth-of-type(6),
    .addition  .user-profile-left ul li:nth-of-type(8) {
        text-align: left;
    }
    .addition .user-profile-left ul li:nth-of-type(5), 
    .addition .user-profile-left ul li:nth-of-type(6),
    .addition .user-profile-left ul li:nth-of-type(7), 
    .addition .user-profile-left ul li:nth-of-type(8) {
        height: auto;
        width: 100%;
    }
    .addition .user-ratings h5.total {
        width: 100%;
        margin-right: 0px;
    }
    .colpick.colpick_rgbhex.colpick_dark {
        left: 19px !important;    
    }
}
@media (max-width: 479px) {
    .addition .user-ratings h5.total span {
        font-size: 12px;
    }
    .addition .wrapper-feedback { 
        position: static;
    }
    .addition .rate { float: right;}
    .addition .wrapp-print-img {
        position: absolute;
        right: 5px;
    }
    .addition p.text-blue > span {
        display: block;
        border-left: none; 
        margin-left: 0px; 
        padding-left: 0px; 
    }
    .addition .wrapp-backg-color.media .media-body { width: auto; display: block;}
    .addition .big-materials-block, .addition .block-min, .addition .bottom-total-number { margin-left: -10px; margin-right: -10px;}
    .addition .name-materials-mobile { display: table-cell;}
    .addition .name-materials-desktop { display: none;}
    .addition .materials-block { height: 92px;}
    .addition .materials-img { margin-right: 5px;}
    .addition .media .p-14.italic-style { overflow: visible; margin-top: 5px; font-size: 13px;}
    .addition .user-single-review .media { margin-top: 5px;}
    .addition .tabline .top-5 { font-size: 13px !important; margin-top: 0px;}
    .addition div.bottom-total { border-top: none;}
}
@media (max-width: 374px) {
    .addition .hover-cont-bg {
        padding: 26px 13px;
    }
    .addition .big-materials-block > div.bottom-total { border-top: none;}
    /*.addition .bottom-total p { padding: 5px 17px; margin-right: 3px;}*/
}
@media (max-width: 360px) {
    .addition .profile-top-img > img {
        height: auto; 
    }
}
/* Special Classes */

.clearfix {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.p-10 { font-size: 10px;}

.p-11 { font-size: 11px;}

.p-12 { font-size: 12px !important;}

.p-13 { font-size: 13px !important; }

.p-14 { font-size: 14px !important;}

.p-15 { font-size: 15px;}

.p-16 { font-size: 16px;}

.p-18 { font-size: 18px;}

.p-22 { font-size: 22px;}

.no-margin-top { margin-top: 0px !important;}

.no-margin-right { margin-right: 0px !important;}

.no-margin-left { margin-left: 0px !important;}

.no-margin-bottom { margin-bottom: 0px !important;}

.no-padding-top { padding-top: 0px !important;}

.no-padding-right { padding-right: 0px !important;}

.no-padding-left { padding-left: 0px !important;}

.no-padding-bottom { padding-bottom: 0px !important;}

.white { color: #fff !important;}

.gray { color: #727272 !important;}

.italic-style { font-style: italic !important;}

.text-blue { color: #1c5c9a !important;}

.text-black { color: #222222 !important;}

/* END Special Classes */