.search-project .breadcrumb {
    background: none;
    padding-left: 0;
} 
.filter-s-p {
    background-color: #fefcfb;
    margin-bottom: 15px;
}
.search-project .breadcrumb li a, .search-project .breadcrumb li {
    color: #8d8d8d;
    font-weight: lighter;
}
.search-project .breadcrumb li {
    font-size: 24px;
}
.search-project .breadcrumb li a:hover {
    text-decoration: underline;
}
.wrapp-project-type { padding-top: 8px;}
.search-project .my-editor .content-block .right-cont { background: none;}
/* Begin group select filter block */
.search-project .wrapper-datepicker-1-2 {
    background: none #fefcfb;
    width: auto;
}
.wrapper-datepicker-1-2 label.pull-left {
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}
.form-horizontal-mobile {
    float: right;
}

.dis-none-big { display: inline-block;}
.dis-none-mob { display: none;}
.search-project .select-filter .btn-default{ width: 200px;}
.search-project .wrapp-top { margin-bottom: 20px;}
#bd-dashboard .btn.btn-mobile {
    background: #fd9f6d;
    color: #fff;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    border: 1px solid #fd9f6d;
    padding: 6px 35px;
    /*font-size: 20px;*/
}
#bd-dashboard .btn.btn-mobile:hover {
  background: none;
  color: #fd9f6d;
}
.line-top { border-top: 1px solid #e6e5e4;}
.search-project .project-type .checkbox { float: right;}
.search-project .project-type .customR, .search-project .slider .slider-body { float: right;}
.search-project .slider .slider-body { padding: 0;}
.line-top.clearfix-dop { margin-right: 15px;}
.search-project .search { position: relative; width: 300px; float: right;}
.search-project .form-control-feedback { right: 15px;}
.search-project .dropdown-menu {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.search-project .wrapper-h3 .line-top > .col-xs-12 { margin: 10px 0;}
.search-project .wrapper-h3 .form-group { margin-bottom: 0;}
.search-project .btn.ed-dir { 
    background: none #fd9f6d; 
    width: 160px;
    cursor: text;
}
.search-project .wrapp-myContent {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}
.search-project .closed {
    opacity: 0.65;
}
.search-project .closed .btn.ed-dir {
    background: none #555555;
}
.search-project .glyphicon-chevron-down { display: none !important;}
.search-project .collapsed .glyphicon-chevron-down { display: block !important;}
.search-project .collapsed .glyphicon-chevron-up { display: none !important;}
.search-project .glyphicon-chevron-up { display: block !important;}
.search-project .collapse { display: none;}
.search-project .collapse.in {
  display: block;
}
.search-project .content-block { position: relative;}
.search-project .posit-abs {
    position: absolute; 
    bottom: 1px; 
    right: 16px; 
    top: auto;
}
.search-project .posit-abs > .glyphicon {   
    padding: 7px 7px 5px 8px; 
    background-color: #e6e5e5; 
    z-index: 1;
}
.search-project .max-nsd { max-width: 340px;}
.search-project .wrapp-table-port-details .p-20 { margin-bottom: 10px;}
.search-project .text.dop-p-12 { margin-bottom: 20px;}
.search-project .image-wrap { height: 198px;}
.search-project  .thumbnail { padding: 0;}
.wrapp-table-port-details .btn-proj { 
    padding: 3px;
    width: 154px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    margin-bottom: 12px;
}
.wrapp-table-port-details .btn-proj:hover { 
    background: none #fff; 
}
.wrapp-table-port-details .btn-apply {
    background-color: #5dff60; 
    border: 1px solid #e6e5e5; 
}
.wrapp-table-port-details .btn-apply:hover {
    border-color: #5dff60;
    color: #5dff60;
    background: none #fff;
}
.wrapp-table-port-details .btn-view {
    background-color: #fd9f6d;
    border: 1px solid #e6e5e5;
}
.closed .wrapp-table-port-details .btn-view {
    background-color: #555555;
    border: 1px solid #555555;
}
.closed .wrapp-table-port-details .btn-view:hover {
    color: #555555;
    background: none #fff;
    border: 1px solid #555555;
}
.wrapp-table-port-details .btn-view:hover {
    border-color: #fd9f6d;
    color: #fd9f6d;
    background: none #fff;
}
.search-project .project-name {
    border-bottom: 3px solid #474747;
    margin-bottom: 14px;
}
.search-project .wrapp-table-port-details { padding: 10px;}
.search-project .project-name .color-blue { padding-top: 0;}
.search-project .status-v { margin-left: 10px;}
.search-project .pagination-xs li a {
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f2f1f1;
  color: #555555;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.search-project .pagination-xs>li.active>a,
.search-project .pagination-xs>li>a:focus, 
.search-project .pagination-xs>li>a:hover,
.search-project .pagination-xs>li>span:focus,
.search-project .pagination-xs>li>span:hover {
    background-color: #fd9f6d;
    color: #fff;
}
.search-project .pagination > .active > a, 
.search-project .pagination > .active > span, 
.search-project .pagination > .active > a:hover, 
.search-project .pagination > .active > span:hover, 
.search-project .pagination > .active > a:focus, 
.search-project .pagination > .active > span:focus {
    border-color: #d2d2d2;
}
.search-project .line-top-col { border-top: 1px solid #e6e5e5; margin-bottom: 10px;}

@media (max-width: 992px) {
    .search-project .image-wrap {
      height: 190px;
    }
    .search-project .mini-icons-img .text-center {
      text-align: left;
    }
}
@media (max-width: 840px) {
    .search-project .posit-abs {
        left: 16px;
        right: auto;
    }
}
@media (max-width: 992px) and (min-width: 768px) {
    .line-top.clearfix-dop { margin-right: 0px;}
    .search-project .max-nsd { max-width: 310px;}
    .search-project .btn.ed-dir { width: 116px;}
    .p-20 .td-data { font-size: 18px;}
}

@media (max-width: 767px) {
    .wrapper-h3 .categories-mobile .select-filter .dropdown-menu {
        width: auto !important;
    }
    .search-project .max-nsd { max-width: 280px;}
    .wrapper-h3 .categories-mobile .dropdown-menu > li > a {
        font-size: 12px;
    }
    .search-project  .select-filter .dropdown-menu {
      /* overflow: hidden !important;*/ 
    }
    /*#bd-dashboard .btn.btn-mobile { font-size: 16px;}*/
    .search-project  .select-filter .dropdown-menu.open { padding: 0;}
    .search-project .select-filter .btn-default{ width: 160px;}
    .mobile-p-14 { font-size: 14px !important;}
    .wrapper-datepicker-1-2 { padding: 5px;}
    .search-project .pull-left.categories-mobile { float: right !important;}
    .form-horizontal-mobile { float: right; /*margin-top: 5px;*/}
    .search-project .form-horizontal-mobile .select-filter .btn-default, .wrapper-datapicker-cal .from-to{ 
        width: 160px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }
    .btn-default-mobile .orders-none .text { font-size: 14px;}
    .form-horizontal-mobile .select-filter .dropdown-menu {
        width: 160px !important;
        max-width: 160px !important;
    }
    .select-filter .btn-default { font-size: 11px;}
    .wrapper-datapicker-cal .datapicker-cal { width: auto !important; float: right;}
    .wrapper-datepicker-1-2 label.pull-left { padding-right: 0;}
    .padd-right-0 { padding-right: 0;}
    .btn-mobile:hover { background: none #ff965e; color: #000;}
    .search-project .wrapper-datepicker-1-2 { width: auto;}
    
    .wrapper-tr-h { width: auto;}
    .wrapp-wrapper-balance { padding: 10px; background-color: #C4C4C4; margin-bottom: 12px;}
    .search-project .tab-resp-1 { padding: 0;}
    .search-project .wrapper-balance p, .pozit-t-i-mobile .wrapper-balance p .color-green { color: #fff !important;}
    .search-project .dropdown-menu {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }
    .search-project .form-horizontal-mobile .select-filter .dropdown-menu.open { 
        position: fixed !important;
        top: 5%;
        left: 50%;
        right: auto;
        width: 220px !important;
        margin-left: -110px;
        min-width: 0 !important;
        max-width: none !important;
    }
    .search-project .form-horizontal-mobile .select-filter .dropdown-menu.open > li > a {
        font-size: ;
    }
    .search-project .form-horizontal-mobile .select-filter .bootstrap-select.open:after {
        position: fixed;
        opacity: 0.65;
        content: "";
        background-color: #000;
        top: 0;
        left: 0;
        z-index: 50;
        width: 100%;
        height: 100%;
    }
    .search-project .wrapper-datepicker-1-2 {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }
    .search-project .margin-left-min { margin-left: -15px;}
    .search-project .weekly-text-date { padding-top: 0;}
    .search-project .bootstrap-select.btn-group .dropdown-menu.inner, .pozit-t-i-mobile .form-horizontal-mobile .select-filter .dropdown-menu.open { 
        background: none #282828;
        padding: 0;
    }
    .search-project .form-horizontal-mobile .select-filter .dropdown-menu.open li a {
        color: #fff;
        font-size: 16px;
        border-bottom: 1px solid #404040;
        background-color: #282828;
        padding-bottom: 3px;
    }
    .search-project .form-horizontal-mobile .select-filter .dropdown-menu > li > a:hover, 
    .search-project .form-horizontal-mobile .select-filter .dropdown-menu > li > a:focus {
        background-color: #BEA76C !important;
    }
    /*.dropup.open .dropdown-menu.open { height: 30% !important;}*/
    .search-project  .select-filter .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
      bottom: auto;
      margin-bottom: 2px;
      max-height: 232px !important;
    }
    .wrapper-datapicker-cal .from-to { }
    .dop-line { border-top: 1px solid #e6e5e4;}
    .wrapp-customR { padding: 0 18px 0 5px;}
    /*.opened-dropdown { overflow: hidden;}*/
    .clearfix-dop {
        clear: both;
    }
    .search-project .search { width: 260px;}
    .search-project .p-20 { font-size: 18px;}
    .search-project .p-20 .td-data { font-size: 16px;}
    .search-project .wrapp-content-block .content-block { padding-bottom: 20px;}
    .search-project .content-block .wrapp-table-port-details { float: none;}
    .search-project .content-block .wrapp-table-port-details { margin: 0;}
    .search-project .mini-icons-img .text-center { text-align: left;}
    .search-project .thumbnail { border: none;}
    
    body.opened-filter-dropdown { overflow: hidden; }
    /*.search-dropdown .dropdown-menu, .search-dropdown .dropdown-menu > ul { max-height: none !important; }*/
    .header-mobile-fix.headroom-dop { z-index: 11;}
}

@media (max-width: 567px) {
    .search-project .p-20 { font-size: 16px;}
}
@media (max-width: 479px) {
    .search-project .margin-10-px { margin-right: -10px;}
    .padd-0 { padding: 0; }
    .search-project .form-horizontal-mobile .select-filter .dropdown-menu.open {
        max-height: none !important;
    }
    .search-project .form-horizontal-mobile .select-filter .dropdown-menu.open > ul {
        max-height: none !important;
    }
    .search-project .col-xs-6-dop { width: 100%; padding-left: 5px;}
    .search-project .customR label { font-size: 14px;}
    .search-project .checkbox label { font-size: 15px; padding-left: 0;}
    .search-project .filter-label { font-size: 17px;}
    .search-project .wrapper-datepicker-1-2 label.pull-left { font-size: 14px;}
    .search-project .wrapp-customR { padding: 0 10px 0 5px;}
    .search-project #bd-dashboard .btn.btn-mobile { width: 100%;}
    .search-project .mini-icons-img > p { padding-top: 0;}
    .search-project .wrapp-myContent { padding-right: 15px; padding-left: 15px;}
    .search-project .wrapp-myContent { margin-left: -10px; margin-right: -10px;} 
    .search-project .status-v { width: 56px; margin-left: 3px;}
    .search-project .content-block .wrapp-table-port-details { margin: 5px 15px 0 15px;}
    .search-project .project-name { margin: 0px 15px 10px 15px;}
    .search-project .pagination-xs li a { font-size: 14px;}
}

/* END group select filter block */

.padding-0 { padding: 0 !important;}
.p-20 { font-size: 20px;}