.filter-btn {
    padding-left: 15px;
    margin: 25px 0 5px;
}
.filter-btn p {
    font-size: 16px;
    float: left;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 15px;
    margin-top: 5px;
}
.filter-btn .btn {
    background: #787878;
    color: #fff;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
.filter-btn .btn.active, .filter-btn .btn:hover,  .filter-btn .btn:active, .filter-btn .btn:focus {
    background: #0d5496;
}
.wrapper-popup-youtube {
    margin-bottom: 10px;
}
.wrapper-popup-youtube img {
    margin: 10px 0;
}
.check-inn .checkbox-inline {
    padding-left: 0px;
    margin-left: 0;
}
.row.check-inn {
    margin-right: 0px;
    margin-left: 0px;
}
.wrapper-checkbox .checkbox-inline .media-body {
    padding-left: 5px;
}
.software .tab-content>.tab-pane {
    padding-left: 0;
    padding-right: 0;
} 
.FinishHeader p.title-software {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.software .panel {
    border: none;
}
.wrapper-checkbox > label {
    font-size: 11px;
}
.add-new-portfolio {
    display: none;
}

.add-new-block {
    position: relative;
    padding-bottom: 75%;
    background-color: #eee;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #24a5db;
}
.add-new-block .fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    margin-top: -30px;
    margin-left: -30px;
    text-shadow: 1px 1px #000;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 64px;
    background-color: #555;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: #fff;
}
.add-new-block:hover .fa-plus {
    background-color: #24a5db;
} 
.video-software .popover, .category .popover {
    top: 120px !important;
}
.video-software .popover .arrow, .category .popover .arrow {
    display: none;
}
.video-software .nav.nav-tabs>li>a {
    margin: auto;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #24a5db;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 5px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.video-software .nav-tabs>li.active>a, 
.video-software .nav-tabs>li.active>a:focus, 
.video-software .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #24a5db;
}
.video-software .nav-tabs {
    border: none;
}
.addition .tab-content>.tab-pane {
    margin-top: 15px;
}
.add-new-portfolio .h4 {
    margin-top: 0;
    margin-bottom: 25px;
}
.add-new-portfolio textarea {
    height: 70px;
    background-color: #f5f3f5;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    color: #a1a1a1;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    width: 100%;
    margin-top: 15px;
}
.add-new-portfolio select {
    border: 1px solid #ddd;
    height: 35px;
    background-color: #f5f3f5;
    outline: none;
    width: 100%;
    margin-bottom: 25px;
    color: #a1a1a1;
    padding: 0 10px;
}
.inner-skills .popover {
    min-width: 406px !important;
}
.user-portfolio {
    position: relative;
}
.user-portfolio .add-new-portfolio {
    position: absolute;
    top: 50%;
    margin-top: -152px;
    left: 50%;
    background-color: #fff;
    width: 564px;
    padding: 20px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, .5);
    margin-left: -282px;
    z-index: 152;
}
.opened .add-new-portfolio {
    display: block;
}
.inner-skills .popover .popover-content {
    top: auto;
}
.opened .modal-backdrop-1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 151;
    background-color: #000;
    opacity: 0.5;
}
.disp-none .add-new-portfolio, .disp-none .modal-backdrop-1 {
    display: none;
}
.user-portfolio {
    padding-left: 0;
    padding-right: 0;
}
.wrapper-popup-youtube { padding: 0 5px;}
.wrapper-popup-youtube .col-xs-6.col-sm-4 {
    padding-right: 10px;
    padding-left: 10px;
}
@media(max-width: 767px) {
    .header-min-height {
        /*min-height: 60px;*/
    }
    .user-profile-left-details h3 div.popover {
        width: auto;
        max-width: 276px !important;
    }
    .designers-tablet.active .edit-container-right {
        display: block !important;
    }
}
@media(max-width: 639px) {
    .user-portfolio .add-new-portfolio {
        margin-top: -152px;
        width: 284px;
        margin-left: -142px;
    }
    .add-new-block .fa-plus {
        font-size: 16px;
        margin-top: -13px;
        margin-left: -13px;
        height: 26px;
        width: 26px;
        line-height: 28px;
    }
    .filter-btn .btn  {
        font-size: 12px;
    }
}
@media(max-width: 479px) {
    .video-software .nav.nav-tabs>li>a {
        padding: 5px;
        font-size: 12px;
    }
}