.filter-btn {
    padding-left: 15px;
    margin: 20px 0;
}
.filter-btn p {
    font-size: 16px;
    float: left;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 15px;
    margin-top: 5px;
}
.filter-btn .btn {
    background: #787878;
    color: #fff;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
.filter-btn .btn.active, .filter-btn .btn:hover,  .filter-btn .btn:active, .filter-btn .btn:focus {
    background: #0d5496;
}
.wrapper-popup-youtube {
    margin-bottom: 10px;
}
.wrapper-popup-youtube img {
    margin: 10px 0;
}
.check-inn .checkbox-inline {
    padding-left: 0px;
}
.wrapper-checkbox > label {
    font-size: 12px;
}
.add-new-portfolio {
    display: none;
}

.add-new-block {
    position: relative;
    padding-bottom: 75%;
    background-color: #eee;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #24a5db;
}
.add-new-block .fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    margin-top: -30px;
    margin-left: -30px;
    text-shadow: 1px 1px #000;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 64px;
    background-color: #555;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: #fff;
}
.add-new-block:hover .fa-plus {
    background-color: #24a5db;
} 
@media(max-width: 767px) {
    .header-min-height {
        min-height: 60px;
    }
}