.featured-screen {
  background: none;
  padding: 0;
  height: auto;
}
.featured-screen img {
  width: 100%;
}
.gallery-history {
  background-color: #f6f3f2;
  padding-bottom: 20px;
  height: auto;
  overflow: auto;
}
.gallery-history > h3 {
  margin-top: 0;
}
.open-register {
  float: left;
  width: 100%;
  position: relative;
  margin: 110px 0 100px;
}
.open-register button {
  width: 40%;
  float: left;
  text-align: center;
  text-transform: uppercase;
}
.open-register h5 {
  width: 10%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #474747;
  margin-top: 25px;
  margin-bottom: 0;
}
.open-register button:nth-of-type(1) {
  margin-left: 5%;
  background-color: #ff6c8d;
  border: solid 2px #ff6c8d;
  border-radius: 5px;
  font-size: 36px;
  color: #fffefe;
  line-height: 24px;
  padding: 25px 0;
  font-weight: 700;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.open-register button:nth-of-type(1):hover {
  background-color: transparent;
  color: #ff6c8d;
}
.open-register button:nth-of-type(2) {    
  background-color: #4b8dcb;    
  border: solid 2px #4b8dcb;    
  border-radius: 5px;    
  font-size: 36px;    
  color: #fffefe;    
  line-height: 24px;    
  padding: 25px 0;
  font-weight: 700;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.open-register button:nth-of-type(2):hover {
  background-color: transparent;
  color: #4b8dcb; 
}
.gallery-history-director .gallery-history-left p {
  padding: 60px 0px;
}
.gallery-history-director .gallery-history-left {
  padding-bottom: 0;
}
.video-open-guest .gallery-history-right {
  left: 240px;
  right: 10px;
  border: solid 1px #c4c4c4;
  border-radius: 10px;
  padding: 43px 50px 0px;
  background-color: white;
}
.video-open-guest .gallery-history-right .slick-prev {
  position: absolute;
  top: 30px;
  left: -35px;
  border: 0;
  background: none;
  color: transparent;
  background-image: url("../images/video-project/arrow-left.png");
  background-repeat: no-repeat;
}
.video-open-guest .gallery-history-right .slick-next {
  position: absolute;
  right: -35px;
  top: 30px;
  border: 0;
  background: none;
  color: transparent;
  background-image: url("../images/video-project/arrow-right.png");
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 991px) {
  .open-register button:nth-of-type(1),.open-register button:nth-of-type(2) {
    font-size: 30px;
  }
} /* 991px End */
@media (max-width: 767px) {
  .video-open-guest .featured-screenshot-text {
    padding: 0;
    margin-top: 10px;
  }
  .video-open-guest .gallery-history-director .gallery-history-left p {
    padding: 15px 0px;
  }
  .video-open-guest .gallery-history-director .gallery-history-left,.video-open-guest .gallery-history-editor .gallery-history-left {
    width: 100%;
  }
  .video-open-guest .gallery-history-right {
    position: relative;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
  }
}/* 767px End */ 
@media (max-width: 640px) {
  .open-register button:nth-of-type(1), .open-register button:nth-of-type(2) {
    margin: 0;
    width: 100%;
  }
  .open-register {
    padding: 0 15px;
  }
  .open-register h5 {
    width: 100%;
    margin: 25px 0;
  }
  .video-open-guest .slick-slide img {
    margin: auto;
  }
} /*640px End */
@media (max-width: 480px) {
  .open-register button:nth-of-type(1), .open-register button:nth-of-type(2) {
    font-size: 26px;
    padding: 20px 0;
  }
  .video-open-guest .gallery-history-right {
    padding-left: 30px;
    padding-right: 30px;
  }
  .video-open-guest .gallery-history-right .slick-prev {
    left: -25px;
    top: 35%;
  }
  .video-open-guest .gallery-history-right .slick-next {
    right: -25px;
    top: 35%;
  }
  .video-open-guest .slick-slide img {
    width: 100%;
    padding: 0 5px;
  }
  .open-register {
    margin: 40px 0 60px;
  }
  .open-register h5 {
    margin: 20px 0;
  }
} /* 480px End */
@media (max-width: 400px) {
  .open-register button:nth-of-type(1), .open-register button:nth-of-type(2) {
    font-size: 20px;
    padding: 15px 0;
  }
  .video-open-guest .gallery-history-right .slick-prev,.video-open-guest .gallery-history-right .slick-next {
    background-size: 15px
  }
  .video-open-guest .gallery-history-right .slick-prev {
    left: -20px;
  }
  .video-open-guest .gallery-history-right .slick-next {
    right: -20px;
  }
} /* 400px End */
@media (max-width: 320px) {
  .video-open-guest .gallery-history-right .slick-prev, .video-open-guest .gallery-history-right .slick-next {
    top: 26%;
  }
  .screenshot-gallery > h3 {
    font-size: 20px;
    font-weight: 700;
  }
  .gallery-history-director .gallery-history-left p, .gallery-history-editor .gallery-history-left p {
    font-size: 18px;
  }
  .open-register h5 {
    font-size: 20px;
  }
  .screenshot-gallery > h3 img {
    width: 20px;
  }
}