<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="basicAuth" type="Devbridge.BasicAuthentication.Configuration.BasicAuthenticationConfigurationSection" />
  </configSections>
<basicAuth>
  <credentials>
    <add username="front-end" password="jjooQQ11!!"/>
  </credentials>
</basicAuth>
  <system.webServer>
    <modules>
      <add name="MyBasicAuthenticationModule" type="Devbridge.BasicAuthentication.BasicAuthenticationModule"/>
    </modules>
  </system.webServer>
  <system.web>
      <customErrors mode="Off"/>
  </system.web>
</configuration>
