.header-guest  .navbar-collapse.clearfix {
    clear: both;
}
.header-guest .container {
    padding-left: 15px;
    padding-right: 15px;
}
.header-guest  .navbar-header img {
    margin: 0 auto;
    text-align: center;
    width: 150px;
}
.header-guest  .navbar-default {
    background: none;
}
.header-guest  .navbar-toggle {
    margin-top: 30px;
}
.header-guest .navbar-nav li a:hover {
    text-decoration: underline;
}
a.blue-color:hover {
    text-decoration: underline;
}
.header .logo-main-tab {
    font-size: 28px;
}
.header-guest .navbar-default .navbar-brand {
    padding: 10px 10px !important;
}
.header-guest .navbar-header {
    background: none;
}
.header-guest  .navbar-brand {
    height: auto;
}
.header-guest .navbar-default .navbar-nav > .active > a,
.header-guest .navbar-default .navbar-nav > .active > a:hover,
.header-guest .navbar-default .navbar-nav > .active > a:focus,
.header-guest .navbar-default .navbar-nav > li > a:hover,
.header-guest .navbar-default .navbar-nav > li > a:focus,
.header-guest .navbar-default .navbar-nav > li > a {
   background: none;
   color: #478cca;
}
.header-guest .navbar-default .navbar-nav > li > a {
   font-size: 14px;
   padding: 10px;
}
body.group-blog header.header-guest .navbar-default .container .navbar-collapse .navbar-nav>li>a {
    font-weight: 300;
}
.header-guest .navbar-collapse.collapse.in .navbar-nav a {
    background-color: #eee;
}
.header-guest .navbar-default .navbar-nav > li > p {
    padding: 10px 0px;
}
.header-guest .navbar-collapse.in {
    background-color: #ddd;
}
.new-landing-page .intro-1-home-2 h2 {
    font-size: 44px;
}
.header .logo-main-tab {
    font-size: 28px;
}
.wrapp-images > table {
    margin: 0 auto;
}
.bg-top {
    position: relative;
    padding-bottom: 36%;
    background-size: cover;
    background-position: center center;
    display: block;
}
.new-landing-page .carousel-capt {
   text-align: center;
}
.new-landing-page .carousel-capt .btn.btn-primary.btn-lg {
    margin-top: 30px;
}
.designe {
    margin-top: 15px;
    font-size: 28px;
}
.wrapp-images {
    padding: 20px 0;
}
.left-image, .right-image {
   padding: 20px 0;
}
.left-image p, .right-image p {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-top: 20px;
}
.left-image img, .right-image img {
    width: 100%;
}
.new-landing-page .carousel-capt {
    min-height: 0px;
}
.inner-bg-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 0;
}
.hidden-xs > p {
    line-height: 1;
}
.header-guest  .collapse.navbar-collapse {
    margin-left: -15px;
    margin-top: 10px;
}
.header-guest .navbar-brand.navbar-brand-mobile {
    margin-left: 0;
}
.modal-body.modal-body-center {
    text-align: center;
}
.modal-body.modal-body-center > p {
    padding-bottom: 80px;
}
.wrapper-info {
    padding-top: 20px;
    padding-bottom: 30px;
}
.wrapper-info p {
    padding: 5px 0;
}
#carouselBot .carousel-control span,
#carouselBot-1 .carousel-control span {
    display: block;
    position: absolute;
    background: #c4c4c4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-top: 6px;
    width: 43px;
    height: 43px;
}
#carouselBot .left span,
#carouselBot-1 .left span {
    left: 0px;
}
#carouselBot .right span,
#carouselBot-1 .right span {
    right: 0px;
}
#carouselBot .carousel-control.left,
#carouselBot .carousel-control.right,
#carouselBot-1 .carousel-control.left,
#carouselBot-1 .carousel-control.right {
    background-image: none;
    filter: none;
}
.modal-body.modal-body-center .form-horizontal,
.modal-body.modal-body-center .inner-info {
    width: 280px;
    margin: 0 auto;
}
.modal-body.modal-body-center .box h3 {
    padding: 10px;
    border: 2px solid #ddd;
}
.wrapper-featured {
    background-color: #ddd;
    padding-top: 25px;
}
.how-work img { width: 100%;}
.featured {
    color: #474747;
    font-size: 26px;
    text-align: center;
    padding: 5px 0;
}
.wrapper-featured img {
    max-width: 100%;
    margin-bottom: 20px;
}
.myModal-f .modal-dialog {
    width: 450px;
}
.myModal-f .close {
    padding: 2px 6px;
    background-color: #ccc;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    position: absolute;
    right: -12px;
    top: -10px;
    opacity: 1;
    color: #fff;
    font-weight: 600;
    text-indent: 0px;
    height: auto;
    width: auto;
    font-size: 20px;
}
.myModal-f .modal-footer {
    text-align: center;
}
.how-work  {
    text-align: center;
    padding-bottom: 50px;
    margin-top: 50px;
}
.how-work a.btn {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
}
.wrapp-images table tr td {
    width: 50%;
    padding: 15px;
}
.carousel-capt a.btn {
    margin-right: 10px;
    margin-left: 10px;
}
#slider {
  height:290px;
  position:relative;
}
#slideContent.slideContent-new #slider {
    height: 670px;
}
#slideContent.slideContent-new .sliderControl {
    height: 670px;
}
#slideContent.slideContent-new .sliderBox  .slider-size {
    height: 670px;
}
.carousel-capt {
    position: absolute;
    width: 100%;
    min-height: 0px;
    top: 50%;
    margin-top: -150px;
}
.intro-1-home-2 h2 {
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 11px;
    margin-bottom: 40px;
}
.checkout-port {
    padding-top: 25px;
    padding-bottom: 40px;
    color: #6E6E6E;
    background-color: #fff;
}
.header-guest .navbar {
    border: none;
    margin-bottom: 0;
}
.carousel-capt h2, .carousel-capt p {
    color: #fff;
}
.carousel-capt {
    margin-top: -150px;
}
.new-landing-page .carousel-capt .btn.btn-primary.btn-lg {
    text-align: center;
    font-size: 24px;
    padding: 10px 30px;
}
.secure {
    font-size: 30px;
    text-transform: uppercase;
}
/*.wrapper-how-to-work {
    padding: 40px 0 30px;
}*/
.left-image .h3, .right-image .h3 {
    font-size: 18px;
    /*padding: 0px 30px;*/
}
.wrapp-images .col-xs-offset-1 {
    margin-right: 8.33333333%;
}
.wrapp-images.wrapp-images-dop .col-xs-offset-1 {
    margin-left: 0;
    margin-right: 0;
}
.wrapp-images.wrapp-images-dop .col-xs-offset-1:first-child {
    margin-left: 16.66%;
}
.footer-widget .widget-content ul {
    text-align: left;
}
.text-center .b-hover:hover {
    border: 2px solid #6ec7eb;
}
.footer-widget .widget-content ul li a:hover {
    color: #4DCBFF;
}
.modal-content .modal-body-center.tab-pane .btn {
    margin-bottom: 10px;
}
.modal-content .tab-content .tab-pane .btn.btn-lg {
    text-align: center;
}
.btn.btn-primary {
    background-color: #428bca;
    border-color: #357ebd;
}
.fileUpload.btn.btn-primary {
    background-color: transparent;
    border-color: transparent;
}
.btn.btn-primary:hover {
    background-color: #286090;
    border-color: #204d74;
}
.btn.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn.btn-success:hover {
    background-color: #449d44;
    border-color: #398439;
}
.modal-body .checkbox#remember_me_box, .modal-body .checkbox#exclusive_offers_box  {
    margin-top: 0;
}
.modal-body .checkbox#remember_me_box .customR > input,
.modal-body .checkbox#exclusive_offers_box .customR > input {
    margin-left: 0;
}
.modal-body .checkbox#remember_me_box .customR > label,
.modal-body .checkbox#exclusive_offers_box .customR > label {
    margin-left: 15px;
    margin-top: 4px;
}
.wrapper-info .carousel-inner .row.item {
    margin: 0;
}
.wrapper-info #carouselBot .carousel-control {
    width: 0%;
}

/**
 * Disable the links from the blog
 */
/*.blog .navbar-collapse .navbar-nav, .blog .socBox, .blog .botLink, .blog .botCopy {
  display: none;
}
.blog .botInfo, .blog .botLogo {
  width: 100% !important;
}*/

@media (max-width: 1160px) and (min-width: 992px){
    .new-landing-page .intro-1-home-2 h2 {
        font-size: 42px;
    }
}
@media (max-width: 991px) {
    .carousel-capt {
        margin-top: -96px;
    }
    .header-guest .navbar-header img {
        width: 120px;
    }
    .intro-1-home-2 h2 {
        margin-bottom: 20px;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .new-landing-page .intro-1-home-2 h2 {
        font-size: 32px;
    }
    .designe {
        font-size: 24px;
    }
    .header-guest .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 5px;
    }
    .faq-page .header-dop .navbar-nav,
    .group-blog .header-dop .navbar-nav {
        float: right;
        margin-right: 0;
    }
    .faq-page .header-dop .navbar-right,
    .group-blog .header-dop .navbar-right {
        margin-right: 0;
    }
    .left-image .h3.h3-min {
        font-size: 14px;
        margin-top: 10px;
    }
}
@media (max-width: 767px) and (min-width: 640px){
    .left-image .h3.h3-min {
        font-size: 12px;
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .new-landing-page .intro-1-home-2 h2 {
        font-size: 24px;
    }
}
@media (max-width: 767px) {
    .header-guest .navbar-brand.navbar-brand-mobile {
        margin: 0 auto;
        float: none;
    }
    .header-guest  .navbar-toggle { float: left;}

    .new-landing-page .intro-1-home-2 h2 {
        font-size: 24px;
    }
    .header-guest .navbar-default .navbar-toggle,
    .header-guest .navbar-default .navbar-toggle:hover,
    .header-guest .navbar-default .navbar-toggle:focus {
        background: none;
        border-width: 0px;
    }
    .designe {
        font-size: 16px;
    }
    .header-guest .navbar {
        border-bottom: 1px solid #ddd;
        border-radius: 0px;
    }
    .header-guest .navbar-default .navbar-brand {
        padding: 5px 10px !important;
    }
    .new-landing-page  .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .header-guest .navbar-toggle {
        margin-top: 12px;
    }
    .header-guest .collapse.navbar-collapse {
        margin-top: 0;
    }
    .footer-widget .widget-content ul {
        text-align: center;
    }
    .new-landing-page .container-fluid div > .row {
        margin-left: 0;
        margin-right: 0;
    }
    .row.botCopy { text-align: center;}
    .modal-content .tab-pane .btn.btn-primary.btn-lg {
        font-size: 12px;
    }
    .modal-content .tab-pane .btn {
        margin-bottom: 10px;
    }
    #carouselBot .carousel-control span {
        padding-top: 10px;
    }
    .modal-body.modal-body-center > p {
        padding-bottom: 10px;
    }
    .modal-body.modal-body-center .wrapper-info .box {
        margin-bottom: 10px;
    }
}
@media (max-width: 767px) and (min-width: 639px) {
   .left-image p, .right-image p {
        font-size: 13px;
   }
}
@media (max-width: 639px) {
    .new-landing-page .intro-1-home-2 h2 {
        font-size: 20px;
    }
    .new-landing-page .carousel-capt {
            margin-top: -80px;
    }
    .new-landing-page .intro-1-home-2.dop h2 {
        margin-bottom: 20px;
    }
    .wrapp-images table tr td {
        width: 100%;
        display: block;
    }
    .how-work a.btn {
        font-size: 16px;
    }
    .wrapp-images .col-xs-offset-1.col-xs-4 {
        width: 100%;
    }
    .wrapp-images .col-xs-offset-1 {
        margin-left: 0%;
        margin-right: 0%;
    }
    .new-landing-page .carousel-capt .btn.btn-primary.btn-lg {
        margin-top: 0;
    }
    .left-image, .right-image {
        padding-top: 0;
    }
    .left-image p, .right-image p {
        /*padding-bottom: 0px;
        padding-top: 0px;*/
    }
    .wrapp-images {
        padding: 0;
    }
    .tab-pane .wrapper-info p {
        font-size: 14px;
    }
    .new-landing-page .bg-top{
        padding-bottom: 80%;
    }
    .new-landing-page .carousel-capt .btn.btn-primary.btn-lg {
        font-size: 18px;
        padding: 10px 15px;
    }
    .wrapp-images.wrapp-images-dop .col-xs-offset-1:first-child {
        margin-left: 0;
    }
}
@media (max-width: 480px) {
    .header.header-guest .logo-main-tab {
        padding-top: 0px;
        line-height: 1.2;
    }
    .new-landing-page .carousel-capt .btn.btn-primary.btn-lg {
        padding: 5px 10px;
    }
}
@media (max-width: 479px) {
    .new-landing-page .intro-1-home-2 h2 {
        font-size: 18px;
    }
    .designe {
        margin: 0;
    }
    .new-landing-page .carousel-capt .btn.btn-primary.btn-lg {
        margin-top: 8px;
    }
    .wrapper-featured .col-xs-6.col-sm-3 {
        width: 100%;
    }
    .carousel-capt a.btn {
        margin-right: 0px;
        margin-left: 0px;
    }
    #remember_me_box, .password-request-p.pull-right {
        float: none !important;
        text-align: center;
    }
}
@media (max-width: 479px) {
    .myModal-f .modal-dialog {
        width: 296px !important;
    }
    .iframe-video {
        width: 274px !important;
        height: 180px !important;
    }
    .myModal-f .modal-body {
        padding: 10px;
    }
}
/* Special Classes */

.clearfix {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.bold {
    font-weight: 600;
}
.blue-color {
    color: #478cca;
}

.overlay-wrapper, .overlay-wrapper2 {
    z-index: 1050;
    display: none;
    position: absolute;
}

.overlay-wrapper .loading-overlay, .overlay-wrapper2 .loading-overlay  {
    width: 100%;
    height: 100%;
    background: #d1d1d1;
    opacity: 0.5;
}

.overlay-wrapper .overlay-ajax-loader, .overlay-wrapper2 .overlay-ajax-loader2 {
    position: absolute;
}

.overlay-wrapper .overlay-ajax-loader .ajax-loader-big, .overlay-wrapper2 .overlay-ajax-loader2 .ajax-loader-big {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background-image: url('../images/ajax-loader-fb-big.gif');
    background-repeat: no-repeat;
}
.content-wrapper p:first-child {
    text-align: center;
}
.content-wrapper .wp-video {
    margin: 10px auto;
}
.select2-dropdown.select2-dropdown--below {
    /*height: 300px;
    overflow-y: scroll;*/
}
.wrapper-content > a img {
    display: block !important;
    max-width: 640px;
    margin: 0 auto;
    width: 100%;
}