    /* for header*/
.p-12 {
    font-size: 12px !important;
}
@media (max-width: 767px) {
    #navbar-collapse-1 li a,
    #bs-example-navbar-collapse-1 li a {
        font-size: 14px;
    }
    .secondaryNavList-dop {
        list-style: none !important;
        padding: 0;
    }
    #navbar-collapse-1 li a:hover, #navbar-collapse-1 li a:focus,
    #bs-example-navbar-collapse-1 li a:hover, #bs-example-navbar-collapse-1 li a:focus {
        text-decoration: underline;
        background-color: #ff965e;
    }
    .nav-list > li > ul {
        position: static;
        margin-left: 0;
        width: 100%;
        background-color: transparent;
    }
    .nav-list li a .fa {
        float: right;
        font-size: 18px;
        cursor: pointer;
        line-height: 15px;
    }
    #navbar-collapse-1 li a,
    #bs-example-navbar-collapse-1 li a {
        font-size: 14px;
        text-decoration: none;
        padding-left: 10px;
        font-weight: bold;
        background: #474747;
    }
    #navbar-collapse-1 li ul.secondaryNavList-dop li a,
    #bs-example-navbar-collapse-1 li ul.secondaryNavList-dop li a  {
        border: none;
        padding-left: 36px;
        padding-right: 30px;
        font-weight: normal;
        display: block;
        font-size: 12px;
    }
    .nav-list > li > ul li + li {
        border-top: 1px solid #bbb;
    }
    .left-menu h3 {
        margin: 0;
    }
    .wrapper-sidebar-offcanvas #navbar-collapse-1 .nav > li > a, 
    .wrapper-sidebar-offcanvas #navbar-collapse-1 li a,
    .wrapper-sidebar-offcanvas #bs-example-navbar-collapse-1 .nav > li > a, 
    .wrapper-sidebar-offcanvas #bs-example-navbar-collapse-1 li a {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .col-sm-12-max.affix { width: 100%;}
    .affix { left: 0; position: fixed;}

    .headroom-dop { 
        width: 100%;
        background: none #fff;
    }
    .headroom-dop.headroom--pinned {
        display: block;
    }
    .headroom-dop.headroom--unpinned {
        display: block;
    }
    .headroom-dop.headroom--pinned {
        top: 0;
        left: 0;
        -webkit-transition: all .55s ease;
        -moz-transition: all .55s ease;
        -o-transition: all .55s ease;
        transition: all .55s ease;
        background: none #fff;
    }
    .headroom-dop.headroom--unpinned {
       position: fixed;
        top: -55px;
        left: 0;
        -webkit-transition: all .55s ease;
        -moz-transition: all .55s ease;
        -o-transition: all .55s ease;
        transition: all .55s ease;
    }
    .col-sm-12-max { background: none #fff;}
    .wrapp-shop-msg-noti-icos > h3 { margin-top: 0;}
    .project-forum { padding-top: 180px;}
    .wrapp-shop-msg-noti-icos { padding-top: 10px; padding-bottom: 7px;}
    
}