.preview-profile-wrapper .container.no-padding {
    z-index: 2;
}
.preview-profile-wrapper .header-mobile {
    background-color: #fff;
}
.preview-profile-wrapper .navbar-default {
    background: none;
    box-shadow: none;
}
.preview-profile-wrapper h1.profile {
    margin-left: 15px;
    font-size: 24px;
    font-weight: 600;
    color: #acfbc2;
    letter-spacing: -1px;
}
#navbar-collapse-1 li a,
#bs-example-navbar-collapse-1  li a {
    color: #fff !important;
}
.preview-profile-wrapper .header-dop.header-mobile .navbar-brand.navbar-brand-mobile {
    position: absolute;
    left: 0;
    top: -20px;
    background-color: #4f4f4f;
    padding-top: 10px;
    padding-right: 50px;
    border-top-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-top-left-radius: 7px;
}
.preview-profile-wrapper #navbar-collapse-1 li a,
.preview-profile-wrapper #bs-example-navbar-collapse-1 li a {
    background: none;
}
.preview-profile-wrapper .nav.navbar-nav.navbar-nav-dop.nav-list {
    position: absolute;
    top: 7px;
    left: 13px;
}
.preview-profile-wrapper .header-dop.header-mobile .col-navbar { position: static;}
.preview-profile-wrapper .col-sm-12.line-bottom-mobile {
    background-color: #4f4f4f;
    margin-top: 34px;
    border-bottom: 1px solid #fff;
}
.preview-profile-wrapper .badge {
    top: -12px;
    right: -7px;
    padding: 3px 6px;
}
.preview-profile-wrapper .col-navbar {
  margin-top: 0px;
}
.preview-profile-wrapper .shop-msg-noti-icos .ico { bottom: auto;}
.preview-profile-wrapper .shop-msg-noti-icos .ico.ico-notify { bottom: 7px;}
.preview-profile-wrapper .profile-dropdown .userProp, .preview-profile-wrapper .profile-dropdown > img {
    width: 40px;
    height: 40px;
}
.preview-profile-wrapper .profile-dropdown .toogleDrpDwn {
    right: 25px;
    top: 20px;
}
.preview-profile-wrapper .header-dop .navbar-nav.navbar-nav-dop {
    margin-top: 0px;
} 
.angle {
    width: 0;
	height: 0;
	border-bottom: 20px solid #4f4f4f;
	border-right: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0px;
}
.preview-profile-wrapper .hasItem .ico-inbox {
  background-position: -173px -31px;
}
.preview-profile-wrapper .hasItem .ico-inbox:hover {
    background-position: -67px -140px; 
}
.preview-profile-wrapper .hasItem .ico-notify {
  background-position: -238px -36px;
}
.preview-profile-wrapper .hasItem .ico-notify:hover {
  background-position: -103px -133px;
}
.preview-profile-wrapper .profile-dropdown {
    border: none;
}
.preview-profile-wrapper .userProp.img-mobile { cursor: pointer;}
@media (max-width: 767px) {
    .preview-profile-wrapper h1.profile {
       display: block !important;
    }
    .preview-profile-wrapper .header-dop.header-mobile .navbar-brand.navbar-brand-mobile {
        position: static;
    }
    .preview-profile-wrapper .top-menu { display: none;}
    .preview-profile-wrapper .top-menu.top-menu-min { display: block !important;}
    .preview-profile-wrapper .col-sm-12-max.col-sm-12-max-dop { padding: 0;}
    .preview-profile-wrapper .wrapp-shop-msg-noti-icos { padding: 0;}
    .preview-profile-wrapper .nav.navbar-nav.navbar-nav-dop.nav-list { position: static;}
    .preview-profile-wrapper .header-dop.header-mobile .navbar-brand.navbar-brand-mobile {
        background: none;
    }
    .preview-profile-wrapper .col-sm-12.line-bottom-mobile { margin-top: 0;}
    .preview-profile-wrapper .headroom-dop.headroom--unpinned{
        top: -60px;
    }
    .headroom--not-top {
        top: -60px;
    }
    .preview-profile-wrapper .header-dop.header-mobile .navbar-header-mobile, 
    .preview-profile-wrapper .header-dop .navbar-mobile {
        background: none #474747 !important;
    }
    .preview-profile-wrapper .header-dop.header-mobile .navbar-default .navbar-toggle .icon-bar {
        background: none #fff;
    }
    .preview-profile-wrapper h1.profile {
        font-size: 18px;
    }
    .header-min-height {
        min-height: 102px;
    }
    .active.row-offcanvas:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      opacity: 0.65;
      z-index: 40;
    }
}
@media (max-width: 480px) {
    .preview-profile-wrapper .desktop-buttons-640 { margin: 5px auto; float: none; text-align: center;}
    .preview-profile-wrapper .desktop-buttons-640 button { float: none; width: 45px; padding: 0;}
}