.header-dop .col-navbar {
    top: 2px !important;
}
#header-top {
  min-height: 50px !important;
}
.preview-profile-wrapper .navbar-default {
    border: none;
}
.header-min-height .line-bottom-mobile .navbar-default .navbar-nav > li > a {
    margin: 0;
    color: #fff !important;
    padding-left: 0;
    padding-right: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.header-min-height .header-dop .cols {
    margin-top: 0px;
}
.header-min-height  #bs-example-navbar-collapse-1 {
    padding-left: 0;
}
.profile-dropdown .dropdown-email {
    cursor: default;
    width: 155px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#content.ng-scope {
    margin-bottom: 50px;
}
#confirm-modal-new .btn.btn-primary.confirm-submission,
#confirm-modal-new .form-control.ng-pristine.ng-valid {
    margin-bottom: 10px;
}
.user-profile-left-picture .fileUpload {
    width: 32px;
}
.popover-content textarea.description {
    max-width: 240px;
    max-height: 125px;
}
.user-profile-left-details p.description  {
    display: inline;
}
.popover-content .select2-container {
    margin-bottom: 5px;
}
.popover-content .select2-container--default .select2-selection--multiple .select2-selection__choice {
    width: auto !important;
}
.user-profile-right .popover-content .select2-container--default .select2-search--inline .select2-search__field {
    margin: 0;
    padding: 10px 5px 2px;
}
.added-sim-640 .user-profile-left ul li:nth-of-type(6),
.added-sim-640 .user-profile-left-details .description,
.added-sim-320 .user-profile-left ul li:nth-of-type(6),
.added-sim-320 .user-profile-left-details .description {
    min-height: 0;
}
.sim-320 .hire-me-section h4 {
    font-size: 14px !important;
}
.redborder {
    border: 3px solid #FC4C4C;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px
}
.ajax-file-upload, .ajax-file-upload * {
    cursor: pointer !important;
}

.ajax-file-upload input[type="file"] {
    right: 0 !important;
    font-size: 300px !important;
    width: auto !important;
    height: auto !important;
    left: auto  !important;
}

.anchor.upArrow {
    background: url("../images/to-top-arrow.png") no-repeat scroll center 50% rgba(255, 83, 121, 0.8) !important;
    bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: inline-block;
    height: 40px;
    opacity: 1;
    overflow: hidden;
    position: fixed;
    right: 20px;
    text-indent: 100%;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    white-space: nowrap;
    width: 40px;
}
.anchor.upArrow > img {
    display: none;
}
.fileUpload.btn.btn-primary {
    background-color: transparent;
    border-color: transparent;
}
.browse-wrap {
  margin-left: auto;
  margin-right: auto;
  float: none;
  left:auto !important;
}
.video-upload .browse-wrap {
    width: 40% !important;
}
.project-files .video-list {
    padding: 0 10px;
}
.single-video-featuredimg .ng-scope > img {
    display: block;
    max-width: 100%;
    height: auto; 
    max-height: 100% !important;
    margin: 0 auto;
}
.single-video .single-video-featuredimg,.single-video .single-video-description {
    height: auto;
    margin-bottom: 20px;
}
button#project-delete-file {
    float: right;
}
#register-as-a-video-editor-modal .bs-wizard>.bs-wizard-step>.progress {
    margin: 20px 0 !important;
}
#register-as-a-video-editor-modal .bs-wizard>.bs-wizard-step>.bs-wizard-dot {
    top: 61px!important;
}  
@media (max-width: 1059px) {
    .col-sm-4.single-video-featuredimg,
    .col-sm-8.single-video-description {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .bs-wizard .col-sm-4.col-xs-12.bs-wizard-step {
        width: 33.33333333%;
    } 
    .video-project-director .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
        min-height: 66px;
        font-size: 11px;
        line-height: 1 !important;
    }
    .video-project-director .bs-wizard>.bs-wizard-step>.bs-wizard-dot {
        top: 88px !important;
    }
    #register-as-a-video-editor-modal .bs-wizard .col-sm-6.col-xs-12.bs-wizard-step {
        width: 50%;
    } 
    .video-project-director .bs-wizard .col-sm-3.col-xs-12.bs-wizard-step {
        width: 25%;
    }
    .col-sm-4.single-video-featuredimg,
    .col-sm-8.single-video-description {
        width: 100%;
    }
    .video-upload .browse-wrap {
        width: 60% !important;
    }
}
@media (max-width: 479px) {
    /*#userLoginContent .formSub input {
        font-size: 14px;
        padding: 5px;
    }*/
    #register-as-a-video-editor-modal .modal-body {
        padding: 15px;
    }
    .video-project-director .container > h3 .popover-content input, h4.video-pop-input .popover-content input, .project-deadline .popover-content input, .single-video-description .popover-content input {
        width: auto !important;
    }
    #userLoginContent .butLink a {
        padding: 10px;
        font-size: 16px;
    }
    .single-video-featuredimg video.ng-scope {
        width: 238px;
    }
    .single-video-description .single-video-title.ng-binding {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 248px;
        display: block;
    }
}
@media (max-width: 375px) {
    .video-upload .browse-wrap div.title > img {
        width: 18px;
    }
    .video-upload .browse-wrap {
        margin: 0 !important;
    }
    .video-upload .browse-wrap div.title {
        font-size: 14px !important;
    }
}